.customer-client{
    display: flex;
    justify-content: center;  
    height: 100%;
}

form input{
    width: 100%;
}
form{
    width: 90% !important;
}

.testeradio{
    display: block;
}


.currentBody{
    display: none;
    width: 100%;
    justify-content: space-between;
    
}
.current{
    display: flex !important;
    flex-direction: column !important;    
}

.formCadastro{
    width: 100%;

}
.spaceForm{
    height: 100%;
    width: 100%;
    flex-grow: 1;
}
.nextSection{
    width: 100%;
    margin-bottom: 1rem;
}

.titleStage{
    margin-bottom: 30px;
    margin-top: 5px;
    margin-left: 5px;
    font-weight: bold;
}

.btn-stage{
    width: 100px;
    margin: 0%;
    margin-top: 15px;
}
.bt{
    width: 70px;
    margin: 0%;
    margin-top: 15px;
}
.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.espacoCampo{
    padding-inline: 20px;
}
.espaco{
    padding-block: 5px;
}
.botao-com-espaco {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.margin{
    margin-left: 30px;
}
.cb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.end {
    display: flex;
    align-items: center;
}
.end label {
    margin-right: 10px;
}
@media only screen and (max-width: 1030px){
    .btn-group{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    }
    .botao-com-espaco{
        margin: 0px;
        display: flex;
        flex-wrap: wrap;
    }
    .radioD{
        margin: 10px;
    }
    .radioA{
        margin-right: 10px;
    }
}
.espacamento {
    display: flex;
    flex-direction: row;
}
.espacamento  > div {
    margin-right: 10px;
}