<div class="panel bg-light">

    <header class="d-flex flex-column align-items-strach p-2">

        <div class="d-flex justify-content-between">
            <div>
                <h4><b></b>Dados:</h4>
                <div><b>ID:</b> {{client.idcliente}}</div>
                <div><b>Razão Social:</b> {{client.nome}}</div>
                <div><b>Nome Fantasia:</b> {{client.nomefantasia}}</div>
                <div><b>CNPJ:</b> {{client.cgccfo}}</div>
            </div>
            <div>
                <h4>Comercial</h4>
                <div><b>Telefone:</b> {{client.telefone}}</div>
                <div><b>E-mail:</b> {{client.email}}</div>

            </div>
            <div>
                <h4>Financeiro</h4>
                <div><b>Telefone:</b> {{client.telefonepgto}}</div>
                <div><b>E-mail:</b> {{client.emailpgto}}</div>
            </div>

        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary">Editar</button>
        </div>
    </header>
    <section class="container-section">
        <h4>Contratos:</h4>
        <div class="d-flex flex-wrap gap-1">
            <div *ngFor="let contractC of contractClient$ | async">
                <div class="container-contract" (click)="viewContract(contractC.IDVENDA!)">
                    <h5>Desc: {{contractC.DESCRICAOVENDA}}</h5>
                    <div>Data Inicio: {{contractC.DTCONTRATO | date:'longDate'}}</div>
                    <div>Data Fim: {{contractC.DTCONCLUSAO | date:'longDate'}}</div>
                    <div>Status: {{contractC.STATUSVENDA}}</div>
                </div>
            </div>

            <div class="container-contract plus" (click)="newContract(client.idcliente)">
                <p>Novo Contratos</p>
                <i class="bi bi-plus-circle"></i>
            </div>
        </div>
    </section>
    <section class="container-section">
        <h4>Projetos:</h4>
        <div class="d-flex flex-wrap gap-1">
            <div *ngFor="let projectC of projectClient$ | async">
                <div class="container-project" (click)="viewProject(projectC.IDPROJETO!)">
                    <h5>Desc: {{projectC.DESCRICAO}}</h5>
                    <div>Data Inicio: {{projectC.DTINCIOPROJETO | date:'longDate'}}</div>
                    <div>Data Fim: {{projectC.DTCONCLUSAOPROJETO | date:'longDate'}}</div>
                    <div>Status: {{projectC.STATUSPROJETO}}</div>
                </div>

            </div>
            <!-- 
            <div class="container-project plus">
                <p>Novo Projeto</p>
                <i class="bi bi-plus-circle"></i>
            </div> -->
        </div>
    </section>

</div>