<div class="panel">
  <h2 class="fonte"><b>TAREFAS DO PROJETO</b></h2><hr/>
  <div class="customer-pessoa bg-light">
    <div class="formCadastro d-flex justify-content-left">
      <form #form="ngForm" (ngSubmit)="registerProjetoTarefa(form)">
        <div>
          <div class="form-group mb-3">
            <label>Tarefa</label>
            <select [(ngModel)]="projetoTarefa.idtarefa" type="text" class="form-control"
            placeholder="Id tarefa já precisa estar criado" name="idtarefa"
            [ngClass]="{'campo-nao-preenchido': botaoClicado && !projetoTarefa.idtarefa}">
                    <option value="" disabled selected hidden>Selecione uma tarefa</option>
                    <option *ngFor="let tarefa of ztarefas$ | async" value="{{tarefa.IDTAREFA}}">
                        {{ tarefa.TITULOTAREFA }} 
                    </option>                  
                </select>
          </div>

          <!-- <select [(ngModel)]="projetoTarefa.titulotarefa" type="text" class="form-control" required [ngClass]="{'campo-nao-preenchido': botaoClicado && !projetoTarefa.titulotarefa}"
                  placeholder="Usuário" name="titulotarefa">
                  <option value="" disabled selected hidden>Selecione a tarefa</option>
                  <option *ngFor="let tarefa of tarefas$ | async"
                      [ngValue]="titulotarefa.TITULO">
                      {{usuario.NOME}}
                  </option>
                </select> -->

          <div class="form-group mb-3">
            <label>Projeto:</label>
            <select [(ngModel)]="projetoTarefa.idprojeto" type="number" class="form-control" 
            placeholder="Id projeto já precisa estar criado" name="idprojeto"
            [ngClass]="{'campo-nao-preenchido': botaoClicado && !projetoTarefa.idprojeto}">
                    <option value="" disabled selected hidden>Selecione o projeto</option>
                    <option *ngFor="let projeto of zprojeto$ | async" value="{{projeto.IDPROJETO}}">
                        {{ projeto.TITULO }} 
                    </option>                  
                </select>
          </div>

          <!-- <div class="form-group mb-3">
            <label>Status da Tarefa</label>
            <input [(ngModel)]="projetoTarefa.statustarefa" type="number" class="form-control"
            placeholder="Status da Tarefa já precisa estar criado" name="statustarefa"
            [ngClass]="{'campo-nao-preenchido': botaoClicado && !projetoTarefa.statustarefa}">
          </div> -->

          <div class="form-group mb-3">
            <label>Título da tarefa do projeto</label>
            <input [(ngModel)]="projetoTarefa.titulotarefa" type="text" 
            class="form-control" name="titulotarefa" placeholder="Título da tarefa"
            [ngClass]="{'campo-nao-preenchido': botaoClicado && !projetoTarefa.titulotarefa}"/>
          </div>
  
          <div class="form-group mb-3">
            <label>Descrição da tarefa:</label>
            <textarea
              [(ngModel)]="projetoTarefa.descricaotarefa "type="text" class="form-control"
              placeholder="Descrição da tarefa" name="descricaotarefa" maxlength="300"
              [ngClass]="{'campo-nao-preenchido': botaoClicado && !projetoTarefa.descricaotarefa}">
            </textarea>
          </div>
  
          <div class="form-group d-flex flex-row mb-3">
            <div class="form-group ">
              <label>Data de início: </label>
              <input
                [(ngModel)]="projetoTarefa.datainicioprevista" type="date" class="form-control" name="datainicioprevista"
                [ngClass]="{'campo-nao-preenchido': botaoClicado && !projetoTarefa.datainicioprevista}"/>
            </div>
  
            <div class="form-group espacoCampo">
              <label>Data final: </label>
              <input
                [(ngModel)]="projetoTarefa.datafimprevista" type="date" class="form-control" name="datafimprevista"
                [ngClass]="{'campo-nao-preenchido': botaoClicado && !projetoTarefa.datafimprevista}"/>
            </div>
          </div>

          <!--Campos de log aqui: -->
          <!-- data criação, usuário criação --> 
          <!-- data alteração, usuário alteração -->
  
          <div class="form-group d-flex flex-row">
            <div class="form-group mb-3">
              <label>Horas estimadas: </label>
              <input [(ngModel)]="projetoTarefa.horasestimadas" type="text" class="form-control" mask="0*:00:00"
              placeholder="00:00:00" name="horasestimadas" required
              [ngClass]="{'campo-nao-preenchido': botaoClicado && !projetoTarefa.horasestimadas}">
            </div>
  
            <div class="form-group espacoCampo mb-3">
                <label>Horas gastas: </label>
                <input [(ngModel)]="projetoTarefa.horasgastas" type="text" class="form-control"
                name="horasgastas" mask="0*:00:00" placeholder="00:00:00"
                [ngClass]="{'campo-nao-preenchido': botaoClicado && !projetoTarefa.horasgastas}">
            </div>
  
            <div class="form-group mb-3">
                <label>Saldo de horas: </label>
                <input [(ngModel)]="projetoTarefa.saldohoras" type="text" class="form-control"
                name="saldohoras" mask="0*:00:00" placeholder="00:00:00"
                [ngClass]="{'campo-nao-preenchido': botaoClicado && !projetoTarefa.saldohoras}">
            </div>
          </div>
          <div class="form-group mb-3">
            <label>Etapa</label>
            <!-- <input [(ngModel)]="projetoTarefa.etapa" type="number" class="form-control"
            placeholder="Qual a etapa?" name="etapa"
            [ngClass]="{'campo-nao-preenchido': botaoClicado && !projetoTarefa.etapa}"> -->
            <select [(ngModel)]="projetoTarefa.etapa" type="number" class="form-control"
            placeholder="Qual a etapa?" name="etapa"
            [ngClass]="{'campo-nao-preenchido': botaoClicado && !projetoTarefa.etapa}">
            <option value="" disabled selected hidden>Selecione a etapa</option>
              <option value=1>Backlog</option>
              <option value=2>Em Andamento</option>
              <option value=3>Concluído</option>
              <option value=4>Impedidos</option>
              <option value=5>Não Planejados</option>
            </select>
          </div>
        </div>
        <div class="d-flex justify-content-between w-100">
          <a href="/login" class="btn btn-danger btn-stage btnResponsivo">Sair</a>
          <div href="/user/kanban" class="btn btn-primary btn-stage" (click)="registerProjetoTarefa(form)">{{event}}</div>
        </div>
      </form>
    </div>
  </div>
</div>