/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
}
*h2{
    font-size: 25px;
}
*h5{
    font-size:17px;
}
*label{
    font-size:13px;
}
*input{
    font-size:13px;
}
*.btn{
    font-size:13px;
}
*.form-control{
    font-size:13px;
}
*.dashboard{
    font-size:14px;
}
.panel{
    display: flex;
    flex-direction: column;
    position: relative;
    // justify-content: space-between;
    font-family: "Nunito", sans-serif;
    min-height: 100%;
    padding: 20px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.panel-color {
    background: linear-gradient(to bottom, black, #e17C28);
    padding: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Altura total da tela para destacar o degradê */
}

.campo-nao-preenchido {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.1);
}

.botaoExcluir {
    width: 65px;
    height: 40px;
    font-size: 15px;
    padding: 10px 20px;
    // display: flex;
    // justify-content: flex-end;
    // text-align: center;
}

.messages{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow:auto;
    margin: 5px;
    justify-content: flex-end;
    text-align: center;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


//=========== CSS Do DashBoard de todos Registros ===================

.panel .panel-heading{
    display: flex;
    justify-content: space-between;
    background-color: #00092C;
    padding: 15px;
    border-radius: 0;
}
.panel .panel-heading .btn{
    color: #000;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 7px 15px;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}
.panel .panel-heading .btn:hover{ box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
.panel .panel-heading .form-horizontal .form-group{ margin: 0; }
.panel .panel-heading .form-horizontal label{
    color: #fff;
    margin-right: 10px;
}
.panel .panel-heading .form-horizontal .form-control{
    display: inline-block;
    width: 80px;
    border: none;
    border-radius: 0;
}
.panel .panel-heading .form-horizontal .form-control:focus{
    box-shadow: none;
    border: none;
}

.panel .panel-footer{
    display: flex;
    justify-content: center;
    color: #fff;
    background: #00092C;
    font-size: 16px;
    line-height: 33px;
    padding: 25px 15px;
    border-radius: 0;
}

.pagination{ margin: 0; }
.pagination li a{
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    margin: 0 2px;
    border: none;
    border-radius: 0;
    transition: all 0.3s ease 0s;
}
.pagination li a:hover,
.pagination li a:focus,
.pagination li.active a{
    color: #fff;
    background-color: #B20600;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.loadingMensage{
    position: relative !important;
    top: 20px;
}
.cb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.btn-stage{
    width: 100px;
    margin: 0%;
    margin-top: 15px;
}

//===================================================================
@media only screen and (max-width: 1030px){
    .panel { height: 100%; width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
    
}
@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'Comfortaa';
    src: url('assets/fonts/Comfortaa-Regular.ttf') format('truetype');
}
@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'LeagueSpartan';
    src: url('assets/fonts/LeagueSpartan-Bold.otf') format('truetype');
}
@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: 'Gruppo';
    src: url('assets/fonts/Gruppo-Regular.ttf') format('truetype');
}

// STYLE GERAL PARA TELA DE TIPOS DE CONSULTORIA
.full-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

// INICIO PRIMEIRA DA FAIXA APÓS O VÍDEO
.banner {
    display: flex;
    color: #fde2d0;
    flex-wrap: wrap;
    position: relative;
    padding: 50px 15%;
    align-items: center;
    justify-content: space-between;
    background: url("assets/images/bannerModulos.png") no-repeat center center/cover;
}

.left h1 {
    line-height: 1;
}
.left {
    flex: 1;
    max-width: 40%;
    font-family: 'LeagueSpartan';
}
.right {
    flex: 1;
    display: flex;
    max-width: 50%;
    text-align: right;
    font-family: 'Gruppo';
    align-items: flex-end;
    flex-direction: column;
    
}
.right p {
    width: 400px;
    text-align: right;
    line-height: 1.2;
    font-size: 1.3rem;
    word-wrap: break-word;
}

.contact-button {
    top: 43px;
    color: #fde2d0;
    cursor: pointer;
    background: none;
    padding: 3px 20px;
    position: absolute;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 1px solid #fde2d0;
}

.buttonFC {
    color: #fde2d0;
    cursor: pointer;
    background: none;
    padding: 3px 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    border: 1px solid #fde2d0;
}
.buttonFC:hover {
    color: #944300;
    background: #efad81;
    border: 1px solid #944300;
}
// FIM DA FAIXA APÓS O VÍDEOo

// INÍCIO CADS CONSULTORIAS
.bloco-cards {
    color: #983e05;
    text-align: center;
    padding: 5% 50px 9%;
    background-color: #fde2d0;
  }
  
  .cards-container {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cardC {
    width: 300px;
    padding: 20px;
    color: #983e05;
    text-align: center;
    border-radius: 50px;
    border: 2px solid #983e05;
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
  }
  
  // Animação no hover
  .cardC:hover {
    background: #b05002;
    transform: scale(1.05);
  }
  .cardC:hover p{
    color: #fde2d0!important;
  }
  .cardC:hover button{
    color: #b05002!important;
    background-color: #fde2d0;
  }
  .cardC:hover .buttonConsultorias{
    color: #b05002!important;
    background-color: #fde2d0!important;
  }
  
  // Imagem da colmeia
  .cardC img {
    width: 190px;
    height: auto;
    display: block;
    margin: 0 auto 15px;
  }
  
  // Texto do card
  .cardC h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .cardC p {
    color: #983e05;
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-family: 'Gruppo';
  }
  
  // Botão do card
  .cardC button {
    color: #983e05;
    font-size: 1rem;
    cursor: pointer;
    background: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-family: 'Comfortaa';
    border: 2px solid #b05002;
    transition: 0.3s ease-in-out;
  }
  
  .cardC button:hover {
    color: #fde2d0;
    background: #983e05;
  }
  // FIM CARDS CONSULTORIAS


  //INÍCIO CARD COM IMAGEM LADO A LADO
  .antes {
    width: 100%;
    margin: 10px;
    height: 95%;
    display: flex;
    padding: 15px;
    align-items: center;
    border-radius: 50px;
    background-color: #efad81;
    transition: transform 0.3s ease-in-out;
  
    .antes:hover {
      transform: scale(1.05);
    }
    
    .imagem {
      padding: 0px;
      display: flex;
      height: 100px;
      max-width: 1500px;
      align-items: flex-start;
    }
    .texto{
      line-height: 1.0rem;
    }
  
    .texto p{
      color: #9a4f1e;
      margin: 0 10px;
      font-size: 18px;
      font-family: 'Gruppo', sans-serif;
    }
    .texto h2{
      color: #9a4f1e;
      margin: 0 10px;
      font-size: 20px;
      line-height: 1.2;
      font-weight: bold;
      margin-bottom: 10px;
      font-family: 'Comfortaa', sans-serif;
    }
  }
  // FIM CARD COM IMAGEM LADO A LADO

  // TELAS MENORES
@media (max-width: 768px){
    .banner {
        padding: 40px 10%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .contact-button {
        position: static;
        margin-bottom: 20px;
    }

    .right,
    .contact-button  {
        max-width: 115% !important;
    }
    .right p {
        width: 300px;
        text-align: left;
        line-height: 1.2;
        font-size: 1.2rem;
        word-wrap: break-word;
    }
    .left h1{
        font-size: 1.0rem;
        max-width: 115%;
    }
    // CARDS CONSULTORIAS
    .cards-container {
        align-items: center;
        flex-direction: column;

    }
    .cardC {
        width: 90%;
        display: flex;
        min-height: 60px;
        flex-direction: column;
    }
    .antes {
        width: 90%;
        display: flex;
        min-height: 60px;
        flex-direction: column;
    }
    .imagem{
        margin-bottom: 5px;
    }
    .texto{
        text-align: center;
    }
}
  // FIM DE TELAS MENORES

// TELAS MÉDIAS
@media (min-width: 768px) and (max-width: 1024px) {
    .banner {
        flex-direction: column;
        padding: 100px 5%;
        text-align: center;
        align-items: center;
    }

    .left, .right {
        max-width: 90%;
        text-align: center;
    }
    .left {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
    }

    .right {
        display: flex;
        text-align: center;
        align-items: flex-end;
        flex-direction: column;
    }

    .right p {
        max-width: 100%;
        text-align: center;
    }
    .right h1 {
        margin-top: 20px;
    }

    .buttonFC{
        margin-top: auto;
    }

    .contact-button {
        width: 20%;
        max-width: 90px;
        position: absolute;
        align-self: center;
        left: 20%;
        top: 63px;
        margin-bottom: 0; 
    }
    .left {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .left h1 {
        font-size: 50px;
        white-space: nowrap;
    }
}
// FIM DE TELAS MÉDIAS