//body {
    //font-family: Arial, Helvetica, sans-serif;
//}
.flip-card-container {
    position: relative;
    display: block;
}
.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    border-radius: 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-right: 20px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.flip-card-front {
    background-color: #ff9d00;
    color: black;
    border-radius: 10px;
}

.flip-card-back {
    background-color: #ff9d00;
    color: black;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 13px;
}
.fonte{
    font-family: 'Bebas Neue', sans-serif bold;
}
.espacamento{
    padding-top: 20px;
}


// SLIDER HOME
section.slider{
    width: 75%;
    height: 50%;
    padding: 0 !important;
    overflow: hidden;
    border: 5px solid #000000;
    margin-left: 40px; 
}

.slider-content{
    width: 550%;
    height: 50%;
    display: flex;
}

.slider-content input{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 100%;
    display: flex;
    justify-content: start;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 50%;
    margin-top: 45%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #000000;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #000000;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}
@media only screen and (max-width: 500px){
    .slider, .slider-content{
        display: none;
        }
        .flip-card-container {
            display: grid;
          }
}