<div class="panel">
<body>
    <video class="full-video desktop-video" autoplay muted loop playsinline>
        <source src="../../../assets/images/videoMaior.mp4" type="video/mp4">
        Seu navegador não suporta vídeos.
    </video>

    <!-- Vídeo para dispositivos móveis -->
    <video class="full-video mobile-video" autoplay muted loop playsinline>
        <source src="../../../assets/images/videoCelular.mp4" type="video/mp4">
        Seu navegador não suporta vídeos.
    </video>
</body>
</div>