<div class="panel">
<body>
    <h2 class="fonte">HOME</h2><hr>
<div class="d-flex flex-row">
    <div class="p-2 align-self-center">
        <div class="flip-card-container">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../../assets/images/cubo.png" alt="Image" class="img-fluid">
                        <h4><b>MISSÃO</b></h4>
                    </div>
                    <div class="flip-card-back">
                        <h4><b>MISSÃO</b></h4>
                        <p>Humanizar as relações entre pessoas e tecnologia através de soluções inovadoras e simples, visando atingir o potencial do seu negócio. </p> 
                    </div>
                </div>
            </div>
        </div>

    <div class="flip-card-container pt-3">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../../../assets/images/cubo.png" alt="Image" class="img-fluid">
                    <h4><b>VISÃO</b></h4>
                </div>
                <div class="flip-card-back">
                    <h4><b>VISÃO</b></h4>
                    <p>Ser referência no Brasil em soluções tecnológicas, que apoiam o desenvolvimento das pessoas e o crescimento das empresas.</p>
                </div>
            </div>
        </div>
    </div>

        <div class="flip-card-container pt-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../../assets/images/cubo.png" alt="Image" class="img-fluid">
                        <h4><b>VALOR</b></h4>
                    </div>
                    <div class="flip-card-back">
                        <h4><b>VALOR</b></h4>
                        <p>Transparência, cuidar de quem faz a nossa empresa (pessoas), paixão por Inovação, foco nas necessidades do cliente, diversidade e inclusão, honestidade, segurança.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<section class="slider">
    <div class="slider-content">
        <input type="radio" name="btn-radio" id="radio1">
        <input type="radio" name="btn-radio" id="radio2">
        <input type="radio" name="btn-radio" id="radio3">
        
        <div class="slide-box primeiro">
            <img src="../../../assets/images/FotoSlide2.png" alt="Slide 1" >
        </div>
        
        <div class="slide-box">
            <img src="../../../assets/images/FotoSlide1.png" alt="Slide 2" >
        </div>

        <div class="slide-box">
            <img src="../../../assets/images/FotoSlide3.png" alt="Slide 3" >
        </div>
        
        <div class="nav-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
        </div>
        
        <div class="nav-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
        </div>
    </div>
</section>
</div>
</body>
</div>