<div class="panel">
<body>
    <h2 class="fonte">HOME</h2><hr>
    <div class="form-group d-flex flex-row">
    <div class="flip-card espacamento">
        <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src="../../../assets/images/cubo.png" alt="Image" class="img-fluid">
        </div>
        <div class="flip-card-back">
            <h1>ALDIWEB</h1>
            <h5>QUEM SOMOS</h5> 
            <p>A ALDIWEB nasceu de um sonho genuíno em fazer diferença na vida das pessoas e se transforou em uma missão de vida quando percebemos que servir o proxímo se tratava muito mais do que simplesmente ajudar!</p> 
            <p>Ter e fazer parte de uma empresa exige trabalho e esforço enorme, por isso sabemos o quanto é importante que sejamos profissionais comprometidos com qualidade, prazos e acima de tudo com resultados.</p>
            <p>Estamos aqui para servir sua empresa!</p>
        </div>
        </div>
    </div>
    
    <div class="flip-card espacamento">
        <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src="../../../assets/images/cubo.png" alt="Image" class="img-fluid">
        </div>
        <div class="flip-card-back">
            <h1>ALDIWEB</h1>
            <h5>NOSSAS SOLUÇÕES</h5> 
        <ul>
            <li>Consultoria Completa: Trabalhamos para melhor sua vida e seus processos.</li>
            <li>Treinamentos Avançados: Ajudamos a desenvolver seus profissionais.</li>
            <li>Suporte Totvs: Atendimento e consultoria.</li>
            <li>Desenvolvimento: Desenvolvimento de soluçoes integradas.</li>
            <li>BPO: Trazemos os profissionais certos para o seu negócio.</li>
        </ul>
        </div>
        </div>
    </div>
    <div class="flip-card espacamento">
        <div class="flip-card-inner">
        <div class="flip-card-front">
            <img src="../../../assets/images/cubo.png" alt="Image" class="img-fluid">
        </div>
        <div class="flip-card-back">
            <h1>ALDIWEB</h1>
            <h5>NOSSAS SOLUÇÕES</h5> 
        <ul>
            <li>Consultoria Completa: Trabalhamos para melhor sua vida e seus processos.</li>
            <li>Treinamentos Avançados: Ajudamos a desenvolver seus profissionais.</li>
            <li>Suporte Totvs: Atendimento e consultoria.</li>
            <li>Desenvolvimento: Desenvolvimento de soluçoes integradas.</li>
            <li>BPO: Trazemos os profissionais certos para o seu negócio.</li>
        </ul>
        </div>
        </div>
    </div>
</div>
</body>
</div>