<div class="panel">
    <h2 class="fonte"><b>APONTAMENTO</b></h2><hr>
        <div class="customer-pessoa bg-light">
            <div class="formCadastro d-flex justify-content-left">
                <form>
                    <div>
                        <div class="form-group espaco">
                            <label>ID_projetoTarefa:</label>
                            <input [(ngModel)]="apontamento.idprojetotarefa" type="number" class="form-control" placeholder="ID_projetoTarefa" name="idprojetotarefa">
                        </div>
                    
                        <div class="form-group d-flex flex-row">
                            <div class="form-group mt-2">
                                <label>Data:</label>
                                <input [(ngModel)]="apontamento.data" type="date" class="form-control" name="data">
                            </div>
                        </div>

                        <div class="form-group d-flex flex-row">
                            <div class="form-group mt-2 m-2">
                                <label>Hora Início:</label>
                                <input [(ngModel)]="apontamento.horainicio" type="time" class="form-control" name="horainicio" id="horainicio">
                            </div>
                    
                            <div class="form-group mt-2">
                                <label>Hora Final:</label>
                                <input [(ngModel)]="apontamento.horafinal" type="time" class="form-control" name="horafinal" id="horafinal"> 
                            </div>
                        </div>
                    
                        <div class="form-group espaco">
                            <label>Descrição:</label>
                            <textarea [(ngModel)]="apontamento.descricao" type="text" class="form-control" placeholder="Descrição" name="descricao"></textarea>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between w-100">
                        <a href="/login" class="btn btn-danger btn-stage btnResponsivo">Sair</a>
                        <div class="btn btn-primary btn-stage" (click)="registerApontamento()">{{event}}</div>
                    </div>
            </form>
        </div>
    </div>
</div>