<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultoria Protheus</title>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Gruppo&family=Comfortaa:wght@700&display=swap" rel="stylesheet">
</head>
    <body class="fundoCorpo">

        <!-- Vídeo para telas grandes -->
        <video class="full-video desktop-video" autoplay muted loop playsinline>
            <source src="../../../assets/images/protheus/videoPROTHEUS.mp4" type="video/mp4">
            Seu navegador não suporta vídeos.
        </video>

        <!-- Vídeo para dispositivos móveis -->
        <video class="full-video mobile-video" autoplay muted loop playsinline>
            <source src="../../../assets/images/protheus/protheusCel.mp4" type="video/mp4">
            Seu navegador não suporta vídeos.
        </video>

    
        <!-- primeira faixa após vídeo -->
        <section class="banner">
            <button class="contact-button">TOTVS</button>
                <div class="left">
                    <h1 style="font-size: 40px;">Consultoria</h1>
                    <h1 style="font-size: 50px;">PROTHEUS</h1>
                </div>
                <div class="right">
                    <p>
                        Com a consultoria TOTVS RM da Aldi Web, sua empresa otimiza processos e ganha mais eficiência para tomadas de decisões estratégicas, seguras e assertivas.
                    </p>
                    <a routerLink="/aldiwebsite" fragment="faleConosco">
                        <button class="buttonFC">Fale Conosco</button>
                    </a>
                </div>
        </section>

        <div class="body">
            <div class="container">
                <header>
                     <h1>
                        A <span>evolução</span> do seu ERP<br>
                         Protheus é mais<br>
                         simples do que<br>
                         você imagina
                    </h1>
                    <p class="header-text">Aproveite ao máximo o desempenho do seu sistema. Realizamos um diagnóstico detalhado, identificamos oportunidades de melhoria e implementamos soluções eficientes.</p>
                </header>
                <main>
                    <section class="grid">
                        <div class="antes">
                            <img src="../../../assets/images/protheus/4.png" alt="Segurança e Confiabilidade" class="imagem">
                            <div class="texto">
                                <h2>Segurança e Confiabilidade</h2>
                                <p>Proteja seus dados e operações com um sistema robusto, garantindo estabilidade com as melhores práticas do mercado.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/protheus/5.png" alt="Integração Total" class="imagem">
                            <div class="texto">
                                <h2>Integração Total</h2>
                                <p>Unifique áreas essenciais como finanças, compras, vendas, produção, logística e RH para uma operação mais estratégica.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/protheus/6.png" alt="Conformidade Fiscal Garantida" class="imagem">
                            <div class="texto">
                                <h2>Conformidade Fiscal Garantida</h2>
                                <p>Mantenha sua empresa sempre em dia com as obrigações fiscais e reduza riscos de prejuízos.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/protheus/7.png" alt="Máximo Retorno do Investimento" class="imagem">
                            <div class="texto">
                                <h2>Máximo Retorno do Investimento</h2>
                                <p>Garanta que cada recurso investido no seu ERP Protheus gere valor real e resultados impulsivos.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/protheus/8.png" alt="Gestão Financeira Avançada" class="imagem">
                            <div class="texto">
                                <h2>Gestão Financeira Avançada</h2>
                                <p>Controle contábil, fluxo de caixa, orçamento e pagamentos de forma eficiente e integrada.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/protheus/9.png" alt="Redução de Custos" class="imagem">
                            <div class="texto">
                                <h2>Redução de Custos</h2>
                                <p>Aprimore a eficiência operacional e reduza despesas com a automação inteligente de processos.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/protheus/10.png" alt="Mais Produtividade" class="imagem">
                            <div class="texto">
                                <h2>Mais Produtividade</h2>
                                <p>Acesse informações em tempo real para uma tomada de decisão mais rápida e assertiva.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/protheus/11.png" alt="Visão Estratégica do Negócio" class="imagem">
                            <div class="texto">
                                <h2>Visão Estratégica do Negócio</h2>
                                <p>Acesse informações em tempo real para uma tomada de decisão mais rápida e assertiva.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/protheus/12.png" alt="Gestão Completa de RH" class="imagem">
                            <div class="texto">
                                <h2>Gestão Completa de RH</h2>
                                <p>Gerenciar folha de pagamento, ponto eletrônico, benefícios, recrutamento e outros processos com eficiência.</p>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>

        <section class="bloco-cards">
            <div class="cards-container">
                <div class="cardC">
                    <img src="../../../assets/images/hex/hex-rm.png" alt="RM">
                    <p> Otimizamos processos, automatizamos rotinas e garantimos um controle eficiente de recursos, financeiros e estoques, para que sua empresa alcance o máximo desempenho.</p>
                    <button class="buttonConsultorias" (click)="rm()">Saiba mais</button>
                </div>
    
                <div class="cardC">
                    <img src="../../../assets/images/hex/hex-bpo.png" alt="BPO">
                    <p>Assumimos processos estratégicos da sua empresa, como financeiros, fiscais e contábeis, para que você foque no que realmente importa: o crescimento do seu negócio.</p>
                    <button class="buttonConsultorias" (click)="bpo()">Saiba mais</button>
                </div>
    
                <div class="cardC">
                    <img src="../../../assets/images/hex/hex-fluig.png" alt="FLUIG">
                    <p>Transforme sua gestão com Fluig! Automatizamos fluxos, centralizamos informações e otimizamos a colaboração para tornar sua empresa mais ágil, integrada e produtiva.</p>
                    <button class="buttonConsultorias" (click)="fluig()">Saiba mais</button>
                </div>
            </div>
        </section>
    </body>
</html>