<div class="panel">
    <form class="form">
        <h4>Contratos:</h4>

        <div class="d-flex justify-content-between">
            <div class="form-group">
                <label>ID_Contrato</label>
                <input [(ngModel)]="contrato.idvenda" type="text" class="form-control" disabled name="idcontrato">
            </div>
            <div class="form-group">
                <label>Cliente</label>
                <input [(ngModel)]="contrato.nomeCliente" type="text" class="form-control" disabled name="cliente">
            </div>
            <div class="form-group">
                <label>Status</label>
                <input [(ngModel)]="contrato.statusvenda" type="text" class="form-control" disabled name="status">
            </div>
        </div>

        <div class="form-group">
            <label>Descrição</label>
            <input [(ngModel)]="contrato.descricaovenda" type="textarea" class="form-control" disabled name="descricao">
        </div>
        <div>
            <div class="form-group">
                <label>Data assinatura</label>
                <input [(ngModel)]="contrato.dtassinatura" type="text" class="form-control" id="dtassinatura" disabled name="dtassinatura">
            </div>
            <div class="form-group">
                <label>Data conclusao</label>
                <input [(ngModel)]="contrato.dtconclusao" type="text" class="form-control" disabled name="dtconclusao">
            </div>

        </div>
        <div class="btn btn-primary mt-1" (click)="editContract()">Editar</div>
        <div class="btn btn-danger mt-1" (click)="deleteContract()">Excluir</div>
    </form>
    <section class="container-section">
        <h4>Projetos:</h4>
        <div class="d-flex flex-wrap gap-1">
            <div *ngFor="let projectC of projectClient$ | async">
                <div class="container-project" (click)="viewProject(projectC.IDPROJETO!)">
                    <h5>Desc: {{projectC.DESCRICAO}}</h5>
                    <div>Data Inicio: {{projectC.DTINCIOPROJETO | date:'longDate'}}</div>
                    <div>Data Fim: {{projectC.DTCONCLUSAOPROJETO | date:'longDate'}}</div>
                    <div>Status: {{projectC.STATUSPROJETO}}</div>
                </div>

            </div>
            <div class="container-project plus-project" (click)="newProject(contrato.idvenda)">
                <!-- <h5>Desc: </h5>
                <div>Data Inicio: </div>
                <div>Data Fim: </div>
                <div>Status: </div> -->
                <p>Novo Projeto</p>
                <i class="bi bi-plus-circle"></i>
            </div>
        </div>
    </section>
</div>