<div class="panel">
    <div class="cb">
        <h2 class="fonte"><b>CONTRATO</b></h2><hr>
        <div class="botao-com-espaco" >
            <div>
                <a href="/login" class="btn btn-danger mb-4">Sair</a>
            </div>
        </div>
    </div><hr>
    
    <div *ngIf="event === 'Editar'; else elseBlock">
        <div>
            <div [routerLink]="['/user/contrato/',contrato.idvenda]" class="btn btn-dark mb-4">Voltar</div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div>
            <div [routerLink]="['/user/client360/',contrato.idcliente]" class="btn btn-dark mb-4">Voltar</div>
        </div>
    </ng-template>

    <!-- (ngSubmit)="registerClient(form)" -->
    <form class="form" #form="ngForm">
        <div *ngIf="event !== 'Cadastrar'">
            <div class="form-group">
                <label>ID_Contrato</label>
                <input [(ngModel)]="contrato.idvenda" type="text" class="form-control" disabled name="idvenda">
            </div>
        </div>

        <div class="form-group">
            <label>Cliente</label>
            <input [(ngModel)]="client.nome" type="text" class="form-control" name="nome">
        </div>
        <div class="form-group mt-2">
            <label>Status</label>
            <input [(ngModel)]="contrato.statusvenda" type="text" class="form-control" disabled name="statusvenda"
                maxLength="1">
        </div>
        <div class="form-group mt-2">
            <label>Descrição</label>
            <input [(ngModel)]="contrato.descricaovenda" type="textarea" class="form-control" name="descricaovenda"
                maxLength="50" [ngClass]="{'campo-nao-preenchido': botaoClicado && !contrato.descricaovenda}">
        </div>
        <div class="form-group mt-2">
            <label>ID PROJETO</label>
            <input [(ngModel)]="contrato.idprojeto" type="number" class="form-control" name="idprojeto">
        </div>
        <div class="form-group mt-2">
            <label>Vendedor</label>
            <input [(ngModel)]="contrato.comercialvendacol" type="textarea" class="form-control"
                name="comercialvendacol" maxLength="50"
                [ngClass]="{'campo-nao-preenchido': botaoClicado && !contrato.comercialvendacol}">
        </div>
        <div class="form-group d-flex flex-row">
            <div class="form-group mb-3 mt-2 espacoCampo">
                <label>Data contato:</label>
                <input [(ngModel)]="contrato.dtcontato" type="date" class="form-control" id="dtcontato" name="dtcontato"
                    [ngClass]="{'campo-nao-preenchido': botaoClicado && !contrato.dtcontato}">
            </div>
            <div class="form-group mb-3 mt-2">
                <label>Data contrato:</label>
                <input [(ngModel)]="contrato.dtcontrato" type="date" class="form-control" id="dtcontrato" name="dtcontrato">
            </div>
        </div>
        <div class="form-group d-flex flex-row">
            <div class="form-group mb-3 mt-2 espacoCampo">
                <label>Data assinatura:</label>
                <input [(ngModel)]="contrato.dtassinatura" type="date" class="form-control" id="dtassinatura"
                    name="dtassinatura">
            </div>
            <div class="form-group mb-3 mt-2">
                <label>Data conclusão:</label>
                <input [(ngModel)]="contrato.dtconclusao" type="date" class="form-control" id="dtconclusao"
                    name="dtconclusao">
            </div>
        </div>
        <div style="text-align: right;">
            <div class="btn btn-primary" (click)="registerContract(form)">{{event}}</div>
        </div>
    </form>
    



</div>