<div class="panel">

    <h2 class="fonte"><b>PESSOA</b><hr></h2>
    <div class="btn-group">
        <button class="btn btn-light" (click)="mudarEtapa(1)">ETAPA 1</button>
        <button class="btn btn-light" (click)="mudarEtapa(2)">ETAPA 2</button>
        <button class="btn btn-light" (click)="mudarEtapa(3)">ETAPA 3</button>
        <button class="btn btn-light" (click)="mudarEtapa(4)">ETAPA 4</button>
    </div><br><br><br>

<div class="customer-pessoa bg-light">
    <div class="formCadastro d-flex justify-content-left ">
        <form class="form d-flex flex-column justify-content-between">
            <h5 class="titleStage">ETAPA: {{stage}}</h5>
            <section class="stage_1 currentBody spaceForm current ">
                <div class="nextSection">
                    <!-- <div class="form-group">
                        <label>ID_Pessoa</label>
                        <input [(ngModel)]="pessoa.idpessoa" type="text" class="form-control" 
                        disabled name="idpessoa">
                    </div>
                    -->
                    <div class="form-group mb-3">
                        <label>Nome:</label>
                        <div class="form-group mb-3">
                            <input [(ngModel)]="pessoa.nome" type="text" class="form-control"
                                placeholder="Nome" name="nome">
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label>CPF:</label>
                        <input [(ngModel)]="pessoa.cpf" type="text" class="form-control" placeholder="CPF"
                            name="cpf" style="width: 400px">
                    </div>

                    <div class="form-group mb-3">
                        <label>Data de Nascimento:</label>
                        <input [(ngModel)]="pessoa.dtnascimento" type="date" class="form-control"
                            placeholder="Data de Nascimento" name="dtnascimento" style="width: auto">
                    </div>
                </div>
            
                <div class="d-flex justify-content-between w-100">
                    <div></div>
                    <div class="btn btn-success btn-stage" (click)="mudarEtapa(2)">Próximo</div>
                </div>
            </section>

            <section class="stage_2 currentBody spaceForm ">
                <div class="nextSection">
                    <div class="form-group">
                        <label>Rua:</label>
                        <input [(ngModel)]="pessoa.rua" type="text" class="form-control"
                            placeholder="Rua" name="rua">
                    </div>
                    <div class="form-group espaco">
                        <label>Número:</label>
                        <input [(ngModel)]="pessoa.numero" type="text" class="form-control"
                            placeholder="Número" name="numero">
                    </div>
                    <div class="form-group d-flex flex-row">
                        <div class="flex-grow-1 espaco">
                            <label>Complemento:</label>
                            <input [(ngModel)]="pessoa.complemento" type="text" class="form-control"
                                placeholder="Complemento" name="complemento">
                        </div>
                        <div class="flex-grow-1 espaco espacoCampo">
                            <label>Bairro</label>
                            <input [(ngModel)]="pessoa.bairro" type="text" class="form-control"
                                placeholder="Bairro" name="bairro">
                        </div>
                    </div>
                    <div class="form-group espaco">
                        <label>Naturalidade:</label>
                        <input [(ngModel)]="pessoa.naturalidade" type="text" class="form-control"
                            placeholder="Naturalidade" name="naturalidade">                            
                    </div>
                    <div class="form-group espaco">
                        <label>Nacionalidade:</label>
                        <input [(ngModel)]="pessoa.nacionalidade" type="text" class="form-control"
                            placeholder="Nacionalidade" name="nacionalidade">                            
                    </div>
                </div>
                <div class="d-flex justify-content-between w-100">
                    <div class="btn btn-success btn-stage" (click)="mudarEtapa(1)">Voltar</div>
                    <div class="btn btn-success btn-stage" (click)="mudarEtapa(3)">Próximo</div>
                </div>
            </section>

            <section class="stage_3 currentBody spaceForm">
                <div class="nextSection">
                    <div class="form-group">
                        <label>Usuário:</label>
                        <input [(ngModel)]="pessoa.usuario" type="text" class="form-control" 
                        placeholder="Usuário" name="usuario">
                    </div>
                    <div class="form-group espaco">
                        <label>Número Identidade:</label>
                        <input [(ngModel)]="pessoa.nroidentidade" type="text" class="form-control" 
                        placeholder="Nº Identidade"
                            name="nroidentidade">
                    </div>
                    <div class="form-group espaco">
                        <label>Órgão emissor:</label>
                        <input [(ngModel)]="pessoa.orgaoemissorident" type="text" class="form-control"
                            placeholder="Órgão emissor ident" name="orgaoemissorident">
                    </div>
                    <div class="form-group espaco">
                        <label>Estado Emissor ident:</label>
                        <input [(ngModel)]="pessoa.estadoemissorident" type="text" class="form-control"
                         placeholder="Estado Emissor ident"
                            name="estadoemissorident">
                    </div>
                    <div class="form-group">
                        <label>Z Usuário:</label>
                        <input [(ngModel)]="pessoa.zusuario_usuario" type="text" class="form-control" 
                        placeholder="Usuário" name="zusuario_usuario">
                    </div>
                </div>
            
                <div class="d-flex justify-content-between w-100">
                    <div class="btn btn-success btn-stage" (click)="mudarEtapa(2)">Voltar</div>
                    <div class="btn btn-primary btn-stage" (click)="registerPessoa()">{{event}}</div>
                </div>
            </section>
        </form>
        <div class="botao-com-espaco" >
            <div>
                <a href="/user" class="btn btn-danger btn-stage">Sair</a>
            </div>
        </div>
    </div>
</div>
</div>