<div class="panel">
    <div *ngIf="event === 'Editar'; else elseBlock">
        <div>
            <div [routerLink]="['/user/contract/projeto/',Project.idprojeto]" class="btn btn-danger mb-4">Voltar</div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div>
            <div [routerLink]="['/user/contrato/',Project.idvenda]" class="btn btn-danger mb-4">Voltar</div>
        </div>
    </ng-template>
    <h4>Projeto: {{Project.titulo}}</h4>
    <form class="form" #form="ngForm" (ngSubmit)="registerProject(form)">
        <div class="d-flex justify-content-between">
            <div class="form-group">
                <label>ID_projeto</label>
                <input [(ngModel)]="Project.idprojeto" type="text" class="form-control" disabled name="idprojeto">
            </div>
            <div class="form-group d-flex">
                <div>
                    <label>Cliente</label>
                    <input [(ngModel)]="client.nome" type="text" class="form-control" disabled name="nome">
                </div>
                <div class="btn d-flex btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="mudar('cliente')">
                    <i class="bi bi-search"></i>
                </div>
            </div>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Clientes</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <container-element [ngSwitch]="busca_cliente_contrato">
                                <div *ngSwitchCase=nomeCli>
                                    <app-pesquisa-clientes (enviaCliente)="recebeClienteEscolhido($event)"></app-pesquisa-clientes>
                                </div>
                                <div *ngSwitchCase=nomeCon>
                                    <app-pesquisa-contratos></app-pesquisa-contratos>
                                </div>     
                                <some-element * ngSwitchDefault>errado</some-element>
                            </container-element>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">sair</button>
                            <button type="button" class="btn btn-danger btn-stage"
                                data-bs-dismiss="modal">Excluir</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group d-flex">
                <div>
                    <label>Contrato</label>
                    <input [(ngModel)]="contrato.descricaovenda" type="text" class="form-control" disabled
                        name="descricaovenda">
                </div>
                <div class="btn d-flex btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="mudar('contrato')">
                    <i class="bi bi-search"></i>
                </div>
            </div>
            <div class="form-group">
                <label>Status</label>
                <input [(ngModel)]="statusProjeto.tituloStatus" type="text" class="form-control" disabled
                    name="tituloStatus">
            </div>
        </div>

        <div class="form-group">
            <label>Titulo:</label>
            <input [(ngModel)]="Project.titulo" type="textarea" class="form-control" name="titulo" maxlength="90"
                [ngClass]="{'campo-nao-preenchido': botaoClicado && !Project.titulo}">
        </div>
        <div class="form-group">
            <label>Descrição:</label>
            <input [(ngModel)]="Project.descricao" type="textarea" class="form-control" name="descricao" maxlength="500"
                [ngClass]="{'campo-nao-preenchido': botaoClicado && !Project.descricao}">
        </div>
        <div>
            <div class="form-group">
                <label>Inicio Projeto</label>
                <input [(ngModel)]="Project.dtinicioprojeto" type="date" class="form-control" id="dtinicioprojeto"
                    name="dtinicioprojeto"
                    [ngClass]="{'campo-nao-preenchido': botaoClicado && !Project.dtinicioprojeto}">
            </div>
            <div class="form-group">
                <label>Fim Previsto Projeto</label>
                <input [(ngModel)]="Project.dtconclusaoprojeto" type="date" class="form-control" id="dtconclusaoprojeto"
                    name="dtconclusaoprojeto"
                    [ngClass]="{'campo-nao-preenchido': botaoClicado && !Project.dtconclusaoprojeto}">
            </div>

        </div>
        <div class="pt-3">
            <h5><b>Horas:</b></h5>
            <div class="form-group">
                <label>Horas Estimadas</label>
                <input [(ngModel)]="Project.horasestimadas" type="text" class="form-control" name="horasestimadas"
                    mask="0*:00:00">
            </div>
            <div class="form-group">
                <label>Horas Gastas</label>
                <input [(ngModel)]="Project.horasgastas" type="text" class="form-control" name="horasgastas"
                    mask="0*:00:00">
            </div>
            <div class="form-group">
                <label>Saldo Restante</label>
                <input [(ngModel)]="Project.saldohoras" type="text" class="form-control" name="saldohoras"
                    mask="0*:00:00" disabled>
            </div>
        </div>
        <div class="pt-3">
            <h5><b>Valor:</b></h5>
            <div class="form-group">
                <label>Valor Estimado</label>
                <input [(ngModel)]="Project.valorprojeto" type="text" class="form-control" name="valorprojeto"
                    prefix="R$ " mask="separator.2" thousandSeparator=".">
            </div>
            <div class="form-group">
                <label>Valor Gasto</label>
                <input [(ngModel)]="Project.valorconsumido" type="text" class="form-control" name="valorconsumido"
                    prefix="R$ " mask="separator.2" thousandSeparator=".">
            </div>
        </div>
        <div class="d-flex justify-content-between pt-3 pb-3">
            <div class="form-group">
                <label>Usuario Alteração</label>
                <input [(ngModel)]="Project.usuarioalteracao" type="text" class="form-control" disabled
                    name="userAlterado">
            </div>
            <div class="form-group">
                <label>Data Criação</label>
                <input [(ngModel)]="Project.dtcriacao" type="date" class="form-control" disabled id="dtcriacao"
                    name="dtcriacao">
            </div>
            <div class="form-group">
                <label>Data Alteração Projeto</label>
                <input [(ngModel)]="Project.dtalteracao" type="date" class="form-control" disabled id="dtalteracao"
                    name="dtalteracao">
            </div>
        </div>
    </form>
    <div class="btn btn-primary mt-4" (click)="registerProject(form)">{{event}}</div>



</div>