<div class="panel">
    <div class="cb">
        <h2 class="fonte"><b>DESEJA CRIAR UMA TAREFA PARA ESTE PROJETO?</b></h2><hr>
        <div class="botao-com-espaco">
            <a href="/login" class="btn btn-danger btn-stage">Sair</a>
        </div>
    </div><hr>
    <div class="d-flex space-between">
        <a (click)="openDialog()" class="btn btn-primary btn-stage mt-3 m-1 mr-3 mb-3">Sim</a>
        <a href="/user/projetos" class="btn btn-danger btn-stage mt-3 m-1 mr-3 mb-3">Não</a>
    </div>
</div>
