<div class="panel">
    <div>
        <div [routerLink]="['/user/client360/',Project.idcliente]" class="btn btn-danger mb-4">Voltar</div>
    </div>


    <h4>Projeto: {{Project.titulo}}</h4>
    <form class="form">
        <div class="d-flex justify-content-between">
            <div class="form-group">
                <label>ID_projeto</label>
                <input [(ngModel)]="Project.idprojeto" type="text" class="form-control" disabled name="idprojeto">
            </div>
            <div class="form-group">
                <label>Cliente</label>
                <input [(ngModel)]="Project.idcliente" type="text" class="form-control" disabled name="cliente">
            </div>
            <div class="form-group">
                <label>Status</label>
                <input [(ngModel)]="Project.statusprojeto" type="text" class="form-control" disabled name="statusprojeto">
            </div>
            <div class="form-group">
                <label>Responsável</label>
                <input [(ngModel)]="Project.usuariocriacao" type="text" class="form-control" disabled name="usuariocriacao">
            </div>
        </div>
        <div class="d-flex justify-content-between">

        </div>

        <div class="form-group">
            <label>Descrição:</label>
            <input [(ngModel)]="Project.descricao" type="textarea" class="form-control" disabled name="descricao">
        </div>
        <div>
            <div class="form-group">
                <label>Inicio Projeto</label>
                <input [(ngModel)]="Project.dtinicioprojeto" type="date" class="form-control" id="dtinicioprojeto" disabled name="dtinicioprojeto">
            </div>
            <div class="form-group">
                <label>Fim Previsto Projeto</label>
                <input [(ngModel)]="Project.dtconclusaoprojeto" type="date" class="form-control" id="dtconclusaoprojeto" disabled name="dtconclusaoprojeto">
            </div>
            
        </div>
        <div class="pt-3">
            <h5><b>Horas:</b></h5>
            <div class="form-group">
                <label>Horas Estimadas</label>
                <input [(ngModel)]="Project.horasestimadas" type="text" class="form-control" disabled name="horasestimadas">
            </div>
            <div class="form-group">
                <label>Horas Gastas</label>
                <input [(ngModel)]="Project.horasgastas" type="text" class="form-control" disabled name="horasgastas">
            </div>
            
        </div>
        <div class="btn btn-primary mt-1" (click)="editProject()">Editar</div>
        <div (click)="excludeProject(Project.idprojeto!,null)" class="btn btn-danger mt-1 botaoExcluir" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-trash-fill"></i></div>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Excluir</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">Tem certeza que deseja excluir esse item?</div>
                <div class="modal-footer">
                    <button (click)="excludeProject(Project.idprojeto!,'clear')" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                    <button (click)="deleteProject(Project.idprojeto)" type="button" class="btn btn-danger btn-stage" data-bs-dismiss="modal">Excluir</button>
                </div>
                </div>
            </div>
        </div>    </form>
    <section class="container-section">
        <h4>Tarefas:</h4>
        <div class="d-flex flex-wrap justify-content-center gap-3">
            <div class="container-contract">
                <h6>Etapa:Levantamento e Direcionadores</h6>
                <h6>Titulo:Levantamento de Requisitos Gerais</h6>
                <hr>
                <div>Responsável: Gabriel</div>
                <div>Desc:Levantamento feito com Cinthia</div>
                <div>Data Inicio: 15/12/2023</div>
                <div>Data Fim: 16/12/2023</div>
                <hr>
                <div>Status: Concluido</div>
            </div>
            <div class="container-contract">
                <h6>Etapa:Levantamento e Direcionadores</h6>
                <h6>Titulo:Levantamento de Requisitos Educacional</h6>
                <hr>
                <div>Responsável: Matheus</div>
                <div>Desc:Levantamento feito com Cinthia</div>
                <div>Data Inicio: 15/12/2023</div>
                <div>Data Fim: 16/12/2023</div>
                <hr>
                <div>Status: Concluido</div>
            </div>
            <div class="container-contract ">
                <h6>Etapa:Levantamento e Direcionadores</h6>
                <h6>Titulo:Levantamento de Requisitos Backoffice</h6>
                <hr>
                <div>Responsável: Gabriel</div>
                <div>Desc:Levantamento feito com Cinthia</div>
                <div>Data Inicio: 15/12/2023</div>
                <div>Data Fim: 16/12/2023</div>
                <hr>
                <div>Status: Concluido</div>
            </div>
            <div class="container-contract bg-primary">
                <h6>Etapa:Infraesttrutura (Ambiente Homologação)</h6>
                <h6>Titulo:Criação e parametrização Base de Dados Limpa</h6>
                <hr>
                <div>Responsável: Matheus</div>
                <div>Desc:Levantamento feito com Cinthia</div>
                <div>Data Inicio: 15/12/2023</div>
                <div>Data Fim: 16/12/2023</div>
                <hr>
                <div>Status: Concluido</div>
            </div>
            <div class="container-contract bg-primary">
                <h6>Etapa:Infraesttrutura (Ambiente Homologação)</h6>
                <h6>Titulo:Instalação TOTVS RM</h6>
                <hr>
                <div>Responsável: Gabriel</div>
                <div>Desc:Levantamento feito com Cinthia</div>
                <div>Data Inicio: 15/12/2023</div>
                <div>Data Fim: 16/12/2023</div>
                <hr>
                <div>Status: Concluido</div>
            </div>
            <div class="container-contract bg-primary">
                <h6>Etapa:Infraesttrutura (Ambiente Homologação)</h6>
                <h6>Titulo:Parametrização LICENSE SERVER</h6>
                <hr>
                <div>Responsável: Gabriel</div>
                <div>Desc:Levantamento feito com Cinthia</div>
                <div>Data Inicio: 15/12/2023</div>
                <div>Data Fim: 16/12/2023</div>
                <hr>
                <div>Status: Concluido</div>
            </div>

        </div>
    </section>
    <section class="container-section">
        <h4>Cronograma:</h4>
        <img class="w-100" src="../../../assets/images/timeline.PNG"> 
    </section>
</div>