
.container-section{
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-top: 5px solid #B20600;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);

    
}
.container-contract{
    display: flex;
    flex-direction: column;
    min-height: 200px;
    background-color: #FF5F00;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);

}
.container-contract:hover{
    background-color: #B20600d9 !important;
}