<!DOCTYPE html>
<div class="panel">
    <h2 class="fonte"><b>TAREFA STATUS</b></h2><hr>
    <div class="customer-pessoa bg-light">
        <div class="formCadastro d-flex justify-content-left">
            <form #form="ngForm" (ngSubmit)="registerTarefa(form)">
                <div>
                    <div class="form-group espaco">
                        <label>Título da tarefa:</label>
                        <input [(ngModel)]="tarefaStatus.titulo" type="text" class="form-control"
                            placeholder="Título da tarefa" name="titulo"
                            [ngClass]="{'campo-nao-preenchido': botaoClicado && !tarefaStatus.titulo}">
                    </div>

                    <div class="form-group espaco">
                        <label>Descrição da tarefa:</label>
                        <textarea [(ngModel)]="tarefaStatus.descricao" type="text" class="form-control"
                            placeholder="Descrição da tarefa" name="descricao" maxlength="200"
                            [ngClass]="{'campo-nao-preenchido': botaoClicado && !tarefaStatus.descricao}"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Status da Tarefa:</label>
                        <select [(ngModel)]="tarefaStatus.status" class="form-control" name="status" id="status"
                        [ngClass]="{'campo-nao-preenchido': botaoClicado && !tarefaStatus.status}">  
                            <option value=0 selected disabled hidden>Selecione uma opção</option>
                            <option value=1>Ativo</option>
                            <option value=2>Concluído</option>
                            <option value=3>Cancelado</option>
                        </select>
                    </div>
                    <!--Campos de log aqui: -->
                    <!-- data criação, usuário criação --> 
                    <!-- data alteração, usuário alteração -->
                </div>
                <div class="d-flex justify-content-between w-100">
                    <a href="/login" class="btn btn-danger btn-stage btnResponsivo">Sair</a>
                    <div class="btn btn-primary btn-stage" (click)="registerTarefa(form)">{{event}}</div>
                </div>
            </form>
        </div>
    </div>
</div>