.customer-client{
    // background-color: yellow !important;
    display: flex;
    justify-content: center;
    height: 100%;
}

form input{
    width: 100%;
}
form{
    width: 90% !important;
}

.areasCadastro{
    border: solid 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
}

.currentBody{
    display: none;
    width: 100%;
    justify-content: space-between;
    
}
.current{
    display: flex !important;
    flex-direction: column !important;    
}

.formCadastro{
    width: 100%;
    padding: 15px;
    margin-top: 0;
}
.spaceForm{
    height: auto;
    width: 100%;
    flex-grow: 1;
}
.nextSection{
    width: 100%;
    margin-bottom: 1rem;
}

.titleStage{
    margin-bottom: 30px;
    margin-top: 0px;
    margin-left: 5px;
    font-weight: bold;
    
}

.btn-stage{
    width: 100px;
    margin: 0%;
    margin-top: 15px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.cb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.espacoCampo{
    padding-inline: 20px;
}
.espaco{
    padding-block: 5px;
}

.botao-com-espaco {
    display: flex;
    justify-content: flex-end;
}

.btn-group{
    margin-bottom: 15px;
    margin-top: 10px;
}
h2.fonte {
    margin-top: 0;
}
.customer-pessoa {
    margin-top: 0;
}
.stage_1, .stage_2, .stage_3 {
    margin: 0, 0;
    padding: 1rem;
}
.btn-group{
    margin-top: 0;
}
@media only screen and (max-width: 1200px){
    .media {
        margin-bottom: 20px;
    }
    .bt{
        justify-content: space-between;
        }
}