<!DOCTYPE html>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<div class="corpo">
    <div class="container" id="container">
        <div class="form-container sign-in">
            <form>
                <h1>Entrar</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>ou use seu e-mail e senha</span>
                <input [(ngModel)]="username" type="email" id="username" name="username" placeholder="Email">
                <input [(ngModel)]="password" type="password" id="password" name="pass" placeholder="Senha">
                <a href="#">Esqueceu Sua Senha?</a>
                <button (click)="login()">Entrar</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Bem Vindo de Volta!</h1>
                    <p>Registre-se com seus dados pessoais para usar todos os recursos do sistema</p>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- <div class="d-flex flex-column align-items-center justify-content-center teste">
    <div class="d-flex justify-content-center">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="../../../assets/images/capaLogin.png" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-md-6 contents d-flex justify-content-center row-1">

                        <div class="col-md-8 d-flex flex-column justify-content-center">
                            <div>
                                <div class="mb-4">
                                    <h3>Sign In</h3>
                                    <p class="mb-4">Use your email to log in</p>
                                </div>
                                <form method="post">
                                    <div class="form-group first">
                                        <label for="username">Username</label>
                                        <input [(ngModel)]="username" type="text" class="form-control" id="username"
                                            name="username">
                                    </div>
                                    <div class="form-group last mb-4">
                                        <label for="password">Password</label>
                                        <input [(ngModel)]="password" type="password" class="form-control" id="password"
                                            name="pass
                                    ">
                                    </div>
                                    <div class="d-flex mb-5 align-items-center">
                                        <label class="control control--checkbox mb-0"><span class="caption">Remember
                                                me</span>
                                            <input type="checkbox" checked="checked">
                                            <div class="control__indicator"></div>
                                        </label>
                                        <span class="ml-auto"><a class="forgot-pass">Forgot Password</a></span>
                                    </div>
                                </form>
                                <button (click)="login()" class="btn btn-block btn-primary">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->