<div class="panel">
    <div>

        <div class="panel-heading">

            <a href="/user/usuario" class="btn btn-sm btn-primary pull-left"><i class="bi bi-person-plus"></i> New
                User</a>

            <form class="form-horizontal pull-right">
                <div class="form-group">
                    <label>Show : </label>
                    <select class="form-control">
                        <option>5</option>
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                    </select>
                </div>
            </form>
        </div>


        <div class="conteudo">
            <table class="table">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Perfil</th>
                        <th style="text-align: center;">Ativo</th>
                        <th style="text-align: center;">Editar</th>
                        <th style="text-align: center;">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of allUsers$ | async">
                        <td>
                            {{usuario.USUARIO}}
                        </td>
                        <td>{{usuario.NOME}}</td>
                        <td>{{usuario.EMAIL}}</td>
                        <td>{{usuario.PERFIL}}</td>
                        <td style="text-align: center;">{{usuario.ATIVO}}</td>
                        <td style="text-align: center;"><i (click)="editUser(usuario)" class="bi bi-pencil-square"></i></td>
                        <td style="text-align: center;"><i (click)="deletUser(usuario.USUARIO)"class="bi bi-trash-fill"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel-footer">
        <div class="d-flex flex-column align-items-center">
            <div>showing <b>5</b> out of <b>25</b> entries</div>
            <div>
                <ul class="pagination">
                    <li><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>