<div class="panel">
    <div class="cb">
        <h2 class="fonte"><b>CADASTRAR PROJETO</b></h2><hr>
        <div class="botao-com-espaco" >
            <div>
                <a href="/login" class="btn btn-danger mb-4">Sair</a>
            </div>
        </div>
    </div><hr>   

    <!-- <div class="botao-com-espaco"> -->
        <!-- <div *ngIf="event === 'Editar'; else elseBlock"> -->
            <!-- <div>
                <div [routerLink]="['/user/contract/projeto/',Project.idprojeto]" class="btn btn-dark mb-4">Voltar</div>
            </div> -->
        <!-- </div> -->
    <!-- </div> -->

    <ng-template #elseBlock>
        <div>
            <div [routerLink]="['/user/contrato/',Project.idvenda]" class="btn btn-danger mb-4">Voltar</div>
        </div>
    </ng-template>
    <h5><b>PROJETO:</b> {{Project.titulo}}</h5>
    <form class="form" #form="ngForm" (ngSubmit)="registerProject(form)">

        <div class="form-group">
            <label>Titulo:</label>
            <input [(ngModel)]="Project.titulo" type="textarea" class="form-control large-input"  name="titulo" 
            maxlength="90" [ngClass]="{'campo-nao-preenchido': botaoClicado && !Project.titulo}">
        </div>

        <div class="form-group large-input mt-3">
            <label>ID_projeto</label>
            <input [(ngModel)]="Project.idprojeto" type="text" class="form-control" disabled name="idprojeto">
        </div>

        <div class="form-group d-flex flex-row mt-3">
            <div class="form-group">
                <label>Cliente</label>
                <select [(ngModel)]="Project.idcliente" type="text" class="form-control large-input" name="nome" (click)="BuscarContratosDoCliente()">
                    <option value="" selected hidden>Selecione um Cliente</option>
                    <option *ngFor="let client of client$ | async" value="{{client.IDCLIENTE}}">
                        {{client.NOME}}
                    </option>                  
                </select>
            </div>
            <div class="form-group icon-container align-items-center">
                <i (click)="openDialog()"class="bi bi-plus-circle-fill"></i>
            </div>
        </div>

        <div class="form-group d-flex flex-row ">
            <div class="form-group ">
                <label>Contrato</label>
                <select [(ngModel)]="Project.idvenda" type="text" class="form-control large-input" name="descricaovenda">
                    <option value="" disabled selected hidden>Selecione um Contrato</option>
                    <option *ngFor="let contrato of contratosDoCliente$ | async" value="{{ contrato.IDVENDA}}">
                        {{ contrato.DESCRICAOVENDA }}  
                    </option>
                </select>
            </div>
            <div class="form-group icon-container  align-items-center">
                <i (click)="openContrato()" class="bi bi-plus-circle-fill"></i>
            </div>
        </div>

        <div class="form-group d-flex flex-row">
            <div class="form-group">
                <label style="background-color: red">Tarefa</label>
                <select [(ngModel)]="tarefa.titulotarefa" type="text" class="form-control large-input" name="tarefas">
                    <option value="" disabled selected hidden>Selecione uma Tarefa</option>
                    <option *ngFor="let tarefa of tarefas$ | async">
                        {{ tarefa.TITULOTAREFA }} 
                    </option>                  
                </select>
            </div>
            <div class="form-group icon-container  align-items-center">
                <i (click)="openTarefas()" class="bi bi-plus-circle-fill"></i>
            </div>
        </div>

        <div class="form-group d-flex flex-row">
            <div class="form-group">
                <label style="background-color: red">Tarefas do Projeto</label>
                <select [(ngModel)]="projetoTarefa.titulotarefa" type="text" class="form-control large-input" name="tarefas">
                    <option value="" disabled selected hidden>Selecione uma SubTarefa</option>
                    <option *ngFor="let projetoTarefa of projetoTarefa$ | async">
                        {{ projetoTarefa.TITULOTAREFA }} 
                    </option>                  
                </select>
            </div>
            <div class="form-group icon-container  align-items-center">
                <i (click)="openProjetoTarefa()" class="bi bi-plus-circle-fill"></i>
            </div>
        </div>

        <div class="form-group large-input espacoCampo">
            <label>Status</label>
            <input [(ngModel)]="statusProjeto.tituloStatus" type="text" class="form-control "  disabled name="tituloStatus">
        </div>

        <div class="form-group mt-3">
            <label>Descrição:</label>
            <textarea [(ngModel)]="Project.descricao" type="textarea" class="form-control"  name="descricao" 
            maxlength="500" [ngClass]="{'campo-nao-preenchido': botaoClicado && !Project.descricao}"></textarea>
        </div>

        <div class="form-group d-flex flex-row">
            <div class="form-group mb-3 mt-3 espacoCampo">
                <label>Início Projeto:</label>
                <input [(ngModel)]="Project.dtinicioprojeto" type="date" class="form-control" id="dtinicioprojeto"  
                name="dtinicioprojeto" [ngClass]="{'campo-nao-preenchido': botaoClicado && !Project.dtinicioprojeto}">
            </div>
            <div class="form-group mb-3 mt-3">
                <label>Fim Previsto Projeto:</label>
                <input [(ngModel)]="Project.dtconclusaoprojeto" type="date" class="form-control" id="dtconclusaoprojeto" 
                name="dtconclusaoprojeto" [ngClass]="{'campo-nao-preenchido': botaoClicado && !Project.dtconclusaoprojeto}">
            </div>
        </div>
        <div class="pt-3">
            <h5><b>HORAS</b></h5>
            <div class="form-group d-flex flex-row">
                <div class="form-group mb-3 mt-2 espacoCampo">
                    <label>Horas Estimadas:</label>
                    <input [(ngModel)]="Project.horasestimadas" type="text" class="form-control"  
                    name="horasestimadas" mask="0*:00:00" placeholder="00:00:00">
                </div>
                <div class="form-group mt-2">
                    <label>Horas Gastas:</label>
                    <input [(ngModel)]="Project.horasgastas" type="text" class="form-control"  
                    name="horasgastas" mask="0*:00:00" placeholder="00:00:00">
                </div>
            </div>
            <div class="form-group">
                <label>Saldo Restante:</label>
                <input [(ngModel)]="Project.saldohoras" type="text" class="form-control"  
                name="saldohoras"  mask="0*:00:00" disabled>
            </div>
        </div>
        <h5 class="form-group mt-3"><b>VALOR</b></h5>
        <div class="form-group d-flex flex-row">
            <div class="form-group mt-2 espacoCampo">
                <label>Valor Estimado:</label>
                <input [(ngModel)]="Project.valorprojeto" type="text" class="form-control"  
                name="valorprojeto" prefix="R$ "  mask="separator.2" thousandSeparator=".">
            </div>
            <div class="form-group mt-2">
                <label>Valor Gasto:</label>
                <input [(ngModel)]="Project.valorconsumido" type="text" class="form-control"  
                name="valorconsumido" prefix="R$ "  mask="separator.2" thousandSeparator=".">
            </div>
        </div>
        <div class="d-flex justify-content-left pt-3">
            <div class="form-group espacoCampo">
                <label>Usuário Alteração:</label>
                <input [(ngModel)]="Project.usuarioalteracao" type="text" 
                class="form-control" disabled name="userAlterado">
            </div>
            <div class="form-group espacoCampo">
                <label>Data Criação:</label>
                <input [(ngModel)]="Project.dtcriacao" type="date" 
                class="form-control" disabled  id="dtcriacao" name="dtcriacao">
            </div>
            <div class="form-group">
                <label>Data Alteração Projeto:</label>
                <input [(ngModel)]="Project.dtalteracao" type="date" 
                class="form-control" disabled id="dtalteracao" name="dtalteracao">
            </div>
        </div>
    </form>
    <div class="d-flex justify-content-between w-100">
        <div class="btn btn-dark mt-4" [routerLink]="['/user/contract/projeto/',Project.idprojeto]" >Voltar</div>
        <div class="btn btn-primary mt-4" (click)="registerProject(form)">{{event}}</div>
    </div>
</div>
