.example-container {
    width: 200px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 40px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 2px;
  }
  h5{
    font-size: 15px;
  }
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
                //color: rgb(255, 132, 0);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  h5{
    font-weight: bold;
  }
  .card-header.backlog{
    background-color: #ffbe82;
  }
  .card-header.emAndamento{
    background-color: #7aceff;
  }
  .card-header.concluido{
    background-color: #80ff9b;
  }
  .card-header.impedidos{
    background-color: #ff8b8b;
  }
  .card-header.naoPlanejados{
    background-color: #fff693;
  }
  @media only screen and (max-width: 1030px){
    .card{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    }
  }