<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quadro Kanban</title>
</head>

<body>

  <div class="panel">
    <div cdkDropListGroup>
      <h2 class="text-center mt-4 mb-4"><b>QUADRO KANBAN</b></h2>
      <div class="d-flex">
        <div data-ls-module="collapse" data-target="#accordeon0" class="ls-collapse ">
          <div class="btn btn-warning d-flex dashboard-nav-item" data-bs-toggle="collapse"
            data-bs-targeT="#filtroskanban">
            <span class="txt-link">Filtros</span>
            <i class="bi bi-funnel-fill"></i>
          </div>

          <div class="collapse" id="filtroskanban">
            <div class="form-group d-flex flex-row mt-3">
              <div class="form-group">
                <label>Cliente</label>
                <select [(ngModel)]="clienteEscolhido.idcliente" type="text" class="form-control large-input"
                  name="nome" (click)="tarefasBuscaCliente(clienteEscolhido.idcliente)">
                  <option value="" selected hidden>Selecione um Cliente</option>
                  <option value=0 >Todos</option>
                  <option *ngFor="let client of client$ | async" value="{{client.IDCLIENTE}}">
                    {{client.NOME}}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="collapse" id="filtroskanban">
            <div class="form-group d-flex flex-row mt-3">
              <div class="form-group">
                <label>Projetos</label>
                <select [(ngModel)]="ProjetoEscolhido.idprojeto" type="text" class="form-control large-input"
                  name="nome">
                  <option value="" selected hidden>Selecione um Projeto</option>
                  <option value=0 >Todos</option>
                  <option *ngFor="let project of Projetos$ | async" value="{{project.IDPROJETO}}">
                    {{project.TITULO}}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="collapse mt-2" id="filtroskanban">
            <button class="btn btn-danger"(click)="buscarTarefasFiltro()">
              Pesquisar: <i class="bi bi-search"></i></button>
          </div>
        </div>
      </div>

      <hr>

      <!-- <div class="input-group mb-3">
      <input type="text" class="form-control" [(ngModel)]="newTodo" placeholder="Insira uma nova Tarefa" style="width: 200px; height: 40px;">
      <div class="input-group-append">
        <button class="btn btn-dark" (click)="addTodo()" style="margin-left: 10px;">Adicionar Tarefa</button>
      </div>
    </div> -->

      <div class="row mb-3">

        <div class="col-md-3">
          <div class="card">
            <div class="card-header emAndamento">
              <h5>BACKLOG</h5>
            </div>
            <div class="card-body" cdkDropList [cdkDropListData]="todo" class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of todo" cdkDrag>
                <mat-icon class="mr-2">task</mat-icon>
                {{ item.TITULOTAREFA }}
              </div>
              <div class="card" (click)="openDialog()">
                <div class="input-group mb-3">
                  <input type="text" class="form-control  mt-2" [(ngModel)]="newTodo"
                    placeholder="Insira uma nova tarefa"
                    style="width: 100px; height: 30px; margin-left: 10px; margin-right: 10px;">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-header backlog">
              <h5>EM ANDAMENTO</h5>
            </div>
            <div class="card-body" cdkDropList [cdkDropListData]="emAndamento" class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of emAndamento" cdkDrag>
                <mat-icon class="mr-2">hourglass_top</mat-icon>
                <p>{{item.TITULOTAREFA}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <div class="card-header concluido">
              <h5>CONCLUÍDO</h5>
            </div>
            <div class="card-body" cdkDropList [cdkDropListData]="concluido" class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of concluido" cdkDrag>
                <mat-icon class="mr-2">check_circle_outline</mat-icon>
                {{item.TITULOTAREFA}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
          <div class="card">
            <div class="card-header impedidos">
              <h5>IMPEDIMENTOS</h5>
            </div>
            <div class="card-body" cdkDropList [cdkDropListData]="impedidos" class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of impedidos" cdkDrag>
                <mat-icon class="mr-2">warning</mat-icon>
                {{item.TITULOTAREFA}}
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="card">
            <div class="card-header naoPlanejados">
              <h5>NÃO PLANEJADOS</h5>
            </div>
            <div class="card-body" cdkDropList [cdkDropListData]="naoPlanejados" class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of naoPlanejados" cdkDrag>
                <mat-icon class="mr-2">highlight_off</mat-icon>
                {{item.TITULOTAREFA}}
              </div>
              <div class="card" (click)="openDialog()">
                <div class="input-group mb-3">
                  <input type="text" class="form-control  mt-2" [(ngModel)]="newNaoPlanejados"
                    placeholder="Insira uma tarefa não planejada"
                    style="width: 100px; height: 30px; margin-left: 10px; margin-right: 10px;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>