<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultoria Fluig</title>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Gruppo&family=Comfortaa:wght@700&display=swap" rel="stylesheet">
</head>
    <body class="fundoCorpo">

        <!-- Vídeo para telas grandes -->
        <video class="full-video desktop-video" autoplay muted loop playsinline>
            <source src="../../../assets/images/fluig/videoFLUIG.mp4" type="video/mp4">
            Seu navegador não suporta vídeos.
        </video>

        <!-- Vídeo para dispositivos móveis -->
        <video class="full-video mobile-video" autoplay muted loop playsinline>
            <source src="../../../assets/images/fluig/fluigCel.mp4" type="video/mp4">
            Seu navegador não suporta vídeos.
        </video>

    
        <!-- primeira faixa após vídeo -->
        <section class="banner">
            <button class="contact-button">TOTVS</button>
                <div class="left">
                    <h1 style="font-size: 50px;">Consultoria</h1>
                    <h1 style="font-size: 60px;">FLUIG</h1>
                </div>
                <div class="right">
                    <p>
                        Com a consultoria Fluig da AldiWeb, você torna sua operação mais ágil, integrada, competitiva e produtiva com soluções que impulsionem a eficiência e maximizem os resultados.
                    </p>
                    <a routerLink="/aldiwebsite" fragment="faleConosco">
                        <button class="buttonFC">Fale Conosco</button>
                    </a>
                </div>
        </section>

        <div class="body">
            <div class="container">
                <header>
                    <h1>
                        Transforme seu<br>
                        TOTVS Fluig com<br>
                        a consultoria <br>
                        especializada da <br>
                        <span>Aldi Web</span>
                    </h1>
                    <p class="header-text">Potencializar a eficiência dos seus processos e realizar integrações completas com diversos sistemas, incluindo o seu ERP. Descubra os resultados transformadores que você pode conseguir.</p>
                </header>
                <main>
                    <section class="grid">
                        <div class="antes">
                            <img src="../../../assets/images/fluig/4.png" alt="Mais Eficiência Operacional" class="imagem">
                            <div class="texto">
                                <h2>Mais Eficiência Operacional</h2>
                                <p>Automatize e otimize seus processos de negócios, elevando a eficiência operacional e os custos.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/fluig/5.png" alt="Fluxos de Trabalho Personalizados" class="imagem">
                            <div class="texto">
                                <h2>Fluxos de Trabalho Personalizados</h2>
                                <p>Crie e gerencie fluxos de trabalho sob medida para atender às necessidades específicas de sua empresa, facilitando a execução de tarefas de forma ágil e organizada.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/fluig/6.png" alt="Melhore a Gestão de Documentos" class="imagem">
                            <div class="texto">
                                <h2>Melhore a Gestão de Documentos</h2>
                                <p>Gerencie documentos de forma centralizada, garantindo fácil acesso e colaboração eficiente entre equipes.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/fluig/7.png" alt="Aumento da Produtividade" class="imagem">
                            <div class="texto">
                                <h2>Aumento da Produtividade</h2>
                                <p>Com dashboards e relatórios detalhados, acompanhe o desempenho dos processos e a produtividade da equipe, garantindo resultados mais consistentes e rápidos.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/fluig/8.png" alt="Economia de Tempo" class="imagem">
                            <div class="texto">
                                <h2>Economia de Tempo</h2>
                                <p>envolve uma integração perfeita entre todos os sistemas de sua operação empresarial, otimizando tempo e recursos.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/fluig/9.png" alt="Ofereça um Portal do Colaborador" class="imagem">
                            <div class="texto">
                                <h2>Ofereça um Portal do Colaborador</h2>
                                <p>Permita que seus colaboradores acessem informações relevantes, tarefas e documentos de forma simples e rápida.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/fluig/10.png" alt="Melhor Experiência do Usuário" class="imagem">
                            <div class="texto">
                                <h2>Melhor Experiência do Usuário</h2>
                                <p>Ideal para empresas do setor de produção, o Fluig oferece ferramentas poderosas para controle de produção, gestão de estoques e processos de fabricação.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/fluig/11.png" alt="Alocação de Desenvolvedores Fluig" class="imagem">
                            <div class="texto">
                                <h2>Alocação de Desenvolvedores Fluig</h2>
                                <p>Gerencie com precisão a contabilidade, contas a pagar e a receber, fluxo de caixa e demais áreas financeiras do seu negócio.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/fluig/12.png" alt="Integração com Sistemas Externos" class="imagem">
                            <div class="texto">
                                <h2>Integração com Sistemas Externos</h2>
                                <p>Garanta uma integração completa com sistemas externos, melhorando a comunicação e o fluxo de dados entre diferentes plataformas de sua empresa.</p>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>

        <section class="bloco-cards">
            <div class="cards-container">
                <div class="cardC">
                    <img src="../../../assets/images/hex/hex-rm.png" alt="RM">
                    <p> Otimizamos processos, automatizamos rotinas e garantimos um controle eficiente de recursos, financeiros e estoques, para que sua empresa alcance o máximo desempenho.</p>
                    <button class="buttonConsultorias" (click)="rm()">Saiba mais</button>
                </div>
    
                <div class="cardC">
                    <img src="../../../assets/images/hex/hex-protheus.png" alt="PROTHEUS">
                    <p> Implementamos, personalizamos e otimizamos seu ERP para integrar processos, automatizar tarefas e elevar o desempenho de sua gestão empresarial.</p>
                    <button class="buttonConsultorias" (click)="protheus()">Saiba mais</button>
                </div>
    
                <div class="cardC">
                    <img src="../../../assets/images/hex/hex-bpo.png" alt="BPO">
                    <p>Assumimos processos estratégicos da sua empresa, como financeiros, fiscais e contábeis, para que você foque no que realmente importa: o crescimento do seu negócio.</p>
                    <button class="buttonConsultorias" (click)="bpo()">Saiba mais</button>
                </div>
            </div>
        </section>
    </body>
</html>