<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultoria RM</title>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Gruppo&family=Comfortaa:wght@700&display=swap" rel="stylesheet">
</head>
    <body class="fundoCorpo">

        <!-- Vídeo para telas grandes -->
        <video class="full-video desktop-video" autoplay muted loop playsinline>
            <source src="../../../assets/images/rm/videoRM.mp4" type="video/mp4">
            Seu navegador não suporta vídeos.
        </video>

        <!-- Vídeo para dispositivos móveis -->
        <video class="full-video mobile-video" autoplay muted loop playsinline>
            <source src="../../../assets/images/rm/cuboRMcel.mp4" type="video/mp4">
            Seu navegador não suporta vídeos.
        </video>

    
        <!-- primeira faixa após vídeo -->
        <section class="banner">
            <button class="contact-button">TOTVS</button>
                <div class="left">
                    <h1 style="font-size: 50px;">Consultoria</h1>
                    <h1 style="font-size: 70px;">RM</h1>
                </div>
                <div class="right">
                    <p>
                        Com a consultoria TOTVS RM da Aldi Web, sua empresa otimiza processos e ganha mais eficiência para tomadas de decisões estratégicas, seguras e assertivas.
                    </p>
                    <a routerLink="/aldiwebsite" fragment="faleConosco">
                        <button class="buttonFC">Fale Conosco</button>
                    </a>
                </div>
        </section>

        <div class="body">
            <div class="container">
                <header>
                    <h1>
                        Impulsione o<br>
                        crescimento da<br>
                        sua empresa<br>
                        <span>AGORA</span>
                    </h1>
                    <p class="header-text">Otimize seus processos e mantenha seu sistema sempre atualizado com as melhores soluções tecnológicas, fiscais e tributárias. Conte com a consultoria TOTVS RM da Aldi Web para elevar sua performance.</p>
                </header>
                <main>
                    <section class="grid">
                        <div class="antes">
                            <img src="../../../assets/images/rm/hexRC.png" alt="Redução de Custos" class="imagem">
                            <div class="texto">
                                <h2>Redução de Custos e Aumento da Eficiência</h2>
                                <p>Automatize processos operacionais, eliminando desperdícios e otimizando recursos para mais eficiência e economia.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/rm/hexGR.png" alt="Gestão de Recursos Humanos" class="imagem">
                            <div class="texto">
                                <h2>Gestão de Recursos Humanos</h2>
                                <p>Simplifique a administração de RH com soluções completas para folha de pagamento, ponto eletrônico, gestão de talentos e benefícios.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/rm/hexEE.png" alt="Escalabilidade e Expansão" class="imagem">
                            <div class="texto">
                                <h2>Escalabilidade e Expansão</h2>
                                <p>Expanda seu negócio com um ERP que acompanha sua evolução e se adapta às novas demandas da empresa.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/rm/hexPM.png" alt="Processos Mais Integrados" class="imagem">
                            <div class="texto">
                                <h2>Processos Mais Integrados</h2>
                                <p>Garantem uma comunicação eficiente entre diferentes setores da sua empresa, conectando processos e aumentando a produtividade.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/rm/hexCF.png" alt="Compliance Fiscal" class="imagem">
                            <div class="texto">
                                <h2>Compliance Fiscal</h2>
                                <p>Mantenha sua empresa em conformidade com as diretrizes fiscais e tributárias, reduzindo riscos e garantindo segurança jurídica.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/rm/hexAT.png" alt="Agilidade na Tomada de Decisões" class="imagem">
                            <div class="texto">
                                <h2>Agilidade na Tomada de Decisões</h2>
                                <p>Obtenha dados em tempo real e relatórios estratégicos para decisões mais rápidas e assertivas.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/rm/hexSC.png" alt="Segurança e Confiabilidade dos Dados" class="imagem">
                            <div class="texto">
                                <h2>Segurança dos Dados</h2>
                                <p>Proteja informações críticas da sua empresa com soluções robustas, garantindo integridade e conformidade com normas de segurança.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/rm/hexMC.png" alt="Maior Controle" class="imagem">
                            <div class="texto">
                                <h2>Maior Controle</h2>
                                <p>Gerencie com precisão a contabilidade, contas a pagar e a receber, fluxo de caixa e demais áreas financeiras do seu negócio.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/rm/hexMM.png" alt="Mais Mobilidade" class="imagem">
                            <div class="texto">
                                <h2>Mais Mobilidade</h2>
                                <p>Acesse informações essenciais de qualquer lugar, garantindo flexibilidade e continuidade nas operações.</p>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>

        <section class="bloco-cards">
            <div class="cards-container">
                <div class="cardC">
                    <img src="../../../assets/images/hex/hex-protheus.png" alt="PROTHEUS">
                    <p> Implementamos, personalizamos e otimizamos seu ERP para integrar processos, automatizar tarefas e elevar o desempenho de sua gestão empresarial.</p>
                    <button class="buttonConsultorias" (click)="protheus()">Saiba mais</button>
                </div>
    
                <div class="cardC">
                    <img src="../../../assets/images/hex/hex-bpo.png" alt="BPO">
                    <p>Assumimos processos estratégicos da sua empresa, como financeiros, fiscais e contábeis, para que você foque no que realmente importa: o crescimento do seu negócio.</p>
                    <button class="buttonConsultorias" (click)="bpo()">Saiba mais</button>
                </div>
    
                <div class="cardC">
                    <img src="../../../assets/images/hex/hex-fluig.png" alt="FLUIG">
                    <p>Transforme sua gestão com Fluig! Automatizamos fluxos, centralizamos informações e otimizamos a colaboração para tornar sua empresa mais ágil, integrada e produtiva.</p>
                    <button class="buttonConsultorias" (click)="fluig()">Saiba mais</button>
                </div>
            </div>
        </section>
    </body>
</html>