<div class='toggleSidebar'>
    <div class="dashboard-nav">
        <div>
            <header>
                <a [routerLink]="['/user']" class="menu-toggle" (click)="toggleSidebar()">
                </a>
                <img src="../../../../assets/images/logoescrita.png" alt="Logo GN" class="img_logo_header" style="width: 80%; max-width: 110px; height: auto;">
                <link rel="stylesheet"
                    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
            </header>

            <nav class="dashboard-nav-list">
                <div class="btn-expandir">
                    <i class="bi bi-list"></i>
                </div>
                <a [routerLink]="['/user']" [routerLinkActive]="['activated']" [routerLinkActiveOptions]="{exact: true}"
                    class="dashboard-nav-item">
                    <i class="bi bi-house-door"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="txt-link">Home</span>
                </a>

                <div data-ls-module="collapse" data-target="#accordeon0" class="ls-collapse ">
                    <a class="d-flex justify-content-between dashboard-nav-item" data-bs-toggle="collapse"
                        data-bs-targeT="#cadastros">
                        <i class="bi bi-pencil-square"></i>
                        <span class="txt-link">Cadastros</span>
                        <i class="bi bi-arrow-down-short"></i>
                    </a>
                    
                    <div class="collapse" id="cadastros">
                        <a [routerLink]="['/user/agenda']" [routerLinkActive]="['activated']"
                            [routerLinkActiveOptions]="{exact: true}" class="dashboard-nav-item">
                            <i class="bi bi-calendar"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="txt-link">Agenda</span>
                        </a>

                        <!-- <div [ngSwitch]="perfil">
                            <div *ngSwitchCase="'admin'">
                                <div data-ls-module="collapse" data-target="#accordeon0" class="ls-collapse ">
                                    <a class="d-flex justify-content-between dashboard-nav-item"
                                        data-bs-toggle="collapse" data-bs-targeT="#configCollapse">
                                        <i class="bi bi-gear"></i>
                                        <span class="txt-link">Config</span>
                                        <i class="bi bi-arrow-down-short"></i>
                                    </a>
                                    <div class="collapse" id="configCollapse">
                                        <a href="/user/usuario/new/0" class="dashboard-nav-item">Cadastrar Usuários</a>
                                        <a href="/user/usuarios" class="dashboard-nav-item">Gestão de Usuários</a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </nav>

        </div>
        <div>
            <div class="nav-item-divider"></div>
            <a href="/home" class="d-flex gap-3 dashboard-nav-item" (click)="deslogar()">
                <i class="bi bi-box-arrow-left"></i>
                <span class="txt-link">Logout</span>
            </a>
        </div>

    </div>

    <div class='dashboard-app'>
        <header class='dashboard-toolbar'>
            <div class="user-logged">
                <div class="d-flex align-items-center gap-3">
                    <!-- <i class="bi bi-bell"></i> -->
                    <a href="/home" class="d-flex gap-3 " (click)="deslogar()">
                        <i class="bi bi-box-arrow-left"></i>
                    </a>
                    <i class="bi bi-person-circle"></i>
                    <span>{{usuario}}</span>
                </div>
            </div>
        </header>
        <div class='dashboard-content'>
            <router-outlet></router-outlet>
        </div>
        <div id="messages" class="position-absolute end-0 top-0"></div>
    </div>
</div>