// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

// .wrapper {
//     position: relative;
//     min-height: 100vh;
//     overflow: hidden;
//     animation: animate 10s linear infinite;
// }
// @keyframes animate {
//     0% {
//         filter: #e17C28;
//     }
//     100% {
//         filter: #e17C28;
//     }
// }

// .hex {
//     display: inline-flex;
//     margin-top: -32px;
//     margin-left: -50px;
//     overflow: hidden;
// }

// .hex:nth-child(even) {
//     margin-left: 1px;
// }

// .hexagon {
//     position: relative;
//     width: 100px;
//     height: 110px;
//     margin: 1px;
//     background-color: #111;
    
    
    
//     transition: 2s;
//     clip-path: polygon(50% 0%, 
//     100% 25%, 100% 75%, 50% 100%,
//     0% 75%, 0% 25%);
// }

// .hexagon::before {
//     position: absolute;
//     content: '';
//     height: 100%;
//     width: 50%;
//     background: rgba(0, 0, 0, 0.04);
// }

// .hexagon:hover {
//     transition: 0s;
//     background: #e17C28;
// }

// :root {
//     --color-white: #000000;
//     --color-dark1: rgb(39, 39, 39);
//     --color-dark2: #2d2d2d;
//     --color-dark3: #414141;
//     --color-dark4: #1c1c1c;
//     --color-dark5: #343434;
// }

// * {
//     margin: 0;
//     padding: 0;
// }

// body {
//     font-family: Arial, Helvetica, sans-serif;
//     background-color: var(--color-dark1);
//     color: var(--color-white);
// }

// .img_logo_header {
//     width: 45px;
// }

// .header,
// .navigation_header {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
// }

// .header {
//     background-color: var(--color-dark2) !important;
//     justify-content: space-between;
//     padding: 0 10%;
//     height: 5.5em;
//     box-shadow: 1px 1px 4px var(--color-dark4);
// }

// .navigation_header {
//     gap: 3em;
//     z-index: 2;
// }

// .content {
//     padding-top: 5em;
//     text-align: center;
//     height: 100vh;
//     transition: 1s;
// }

// .navigation_header a {
//     position: relative;
//     text-decoration: none;
//     color: #e17C28 !important;
//     padding-bottom: 5px;
//     transition: color 0.3s ease-in-out;
//     font-weight: bold;
// }

// .navigation_header a::after {
//     content: '';
//     position: absolute;
//     left: 50%;
//     bottom: 0;
//     width: 0;
//     height: 2px;
//     background-color: #e17C28;
//     transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
// }

// .navigation_header a:hover {
//     color: #e17C28;
// }

// .navigation_header a:hover::after {
//     width: 100%;
//     left: 0;
// }

// .btn_icon_header {
//     background: transparent;
//     border: none;
//     color: var(--color-white);
//     cursor: pointer;
//     display: none;
// }


// //CENTRO
// .melhoria-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-wrap: wrap;
//     gap: 20px;
//     margin: auto;
//     width: 100%;
//     //height: 100vh; /* Garante que ocupe a tela inteira */
//     text-align: center;
// }
// .melhoria {
//     text-align: center;
//     justify-content: center;
//     align-items: center;
// }
// .melhoria img {
//     width: 100%;
//     max-width: auto;
//     height: auto;
// }


// @media screen and (max-width: 768px) {
//     .navigation_header {
//         position: absolute;
//         flex-direction: column !important;
//         top: 0;
//         background: var(--color-dark5);
//         height: 100%;
//         width: 35vw;
//         padding: 1em;
//         transition: margin-left 0.5s ease;
//         margin-left: -100vw;
//     }
//     .btn_icon_header {
//     display: block;
//     }
//     .show-sidebar {
//         margin-left: -10vw !important;
//     }
// }


// @media screen and (max-width: 1024px) {
//     .melhoria-container {
//         flex-direction: column;
//         height: auto;
//     }

//     .melhoria {
//         max-width: 80%;
//     }

//     .melhoria img {
//         max-width: 90%;
//     }
// }

.carousel-container {
    width: 90%;
    margin: auto;
  }
  
  .card {
    width: 200px;
    height: 400px;
    background: linear-gradient(to bottom, #4caf50, #00bcd4);
    color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  
  swiper {
    width: 100%;
    height: auto;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
  }
  
  .swiper-pagination-bullet {
    background-color: white;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: white;
  }
  
  
  