<div class="panel">
    <h4>Projeto: Titulo do Projeto</h4>
    <form class="form">
        <div class="d-flex justify-content-between">
            <div class="form-group">
                <label>ID_projeto</label>
                <input type="text" class="form-control" disabled name="idprojeto">
            </div>
            <div class="form-group">
                <label>Cliente</label>
                <input type="text" class="form-control" disabled name="cliente">
            </div>
            <div class="form-group">
                <label>Status</label>
                <input type="text" class="form-control" disabled name="status">
            </div>
            <div class="form-group">
                <label>Responsável</label>
                <input type="text" class="form-control" disabled name="status">
            </div>
        </div>
        <div class="d-flex justify-content-between">

        </div>

        <div class="form-group">
            <label>Descrição:</label>
            <input type="textarea" class="form-control" disabled name="descricao">
        </div>
        <div>
            <div class="form-group">
                <label>Inicio Projeto</label>
                <input type="date" class="form-control" disabled name="status">
            </div>
            <div class="form-group">
                <label>Fim Previsto Projeto</label>
                <input type="date" class="form-control" disabled name="status">
            </div>
            
        </div>
        <div class="pt-3">
            <h5><b>Horas:</b></h5>
            <div class="form-group">
                <label>Horas Estimadas</label>
                <input type="text" class="form-control" disabled name="status"  value="98:00">
            </div>
            <div class="form-group">
                <label>Horas Gastas</label>
                <input type="text" class="form-control" disabled name="status" value="7:45">
            </div>
            
        </div>
    </form>
    <section class="container-section">
        <h4>Tarefas:</h4>
        <div class="d-flex flex-wrap justify-content-center gap-3">
            <div class="container-contract">
                <h6>Etapa:Levantamento e Direcionadores</h6>
                <h6>Titulo:Levantamento de Requisitos Gerais</h6>
                <hr>
                <div>Responsável: Gabriel</div>
                <div>Desc:Levantamento feito com Cinthia</div>
                <div>Data Inicio: 15/12/2023</div>
                <div>Data Fim: 16/12/2023</div>
                <hr>
                <div>Status: Concluido</div>
            </div>
            <div class="container-contract">
                <h6>Etapa:Levantamento e Direcionadores</h6>
                <h6>Titulo:Levantamento de Requisitos Educacional</h6>
                <hr>
                <div>Responsável: Matheus</div>
                <div>Desc:Levantamento feito com Cinthia</div>
                <div>Data Inicio: 15/12/2023</div>
                <div>Data Fim: 16/12/2023</div>
                <hr>
                <div>Status: Concluido</div>
            </div>
            <div class="container-contract ">
                <h6>Etapa:Levantamento e Direcionadores</h6>
                <h6>Titulo:Levantamento de Requisitos Backoffice</h6>
                <hr>
                <div>Responsável: Gabriel</div>
                <div>Desc:Levantamento feito com Cinthia</div>
                <div>Data Inicio: 15/12/2023</div>
                <div>Data Fim: 16/12/2023</div>
                <hr>
                <div>Status: Concluido</div>
            </div>
            <div class="container-contract bg-primary">
                <h6>Etapa:Infraesttrutura (Ambiente Homologação)</h6>
                <h6>Titulo:Criação e parametrização Base de Dados Limpa</h6>
                <hr>
                <div>Responsável: Matheus</div>
                <div>Desc:Levantamento feito com Cinthia</div>
                <div>Data Inicio: 15/12/2023</div>
                <div>Data Fim: 16/12/2023</div>
                <hr>
                <div>Status: Concluido</div>
            </div>
            <div class="container-contract bg-primary">
                <h6>Etapa:Infraesttrutura (Ambiente Homologação)</h6>
                <h6>Titulo:Instalação TOTVS RM</h6>
                <hr>
                <div>Responsável: Gabriel</div>
                <div>Desc:Levantamento feito com Cinthia</div>
                <div>Data Inicio: 15/12/2023</div>
                <div>Data Fim: 16/12/2023</div>
                <hr>
                <div>Status: Concluido</div>
            </div>
            <div class="container-contract bg-primary">
                <h6>Etapa:Infraesttrutura (Ambiente Homologação)</h6>
                <h6>Titulo:Parametrização LICENSE SERVER</h6>
                <hr>
                <div>Responsável: Gabriel</div>
                <div>Desc:Levantamento feito com Cinthia</div>
                <div>Data Inicio: 15/12/2023</div>
                <div>Data Fim: 16/12/2023</div>
                <hr>
                <div>Status: Concluido</div>
            </div>

        </div>
    </section>
    <section class="container-section">
        <h4>Cronograma:</h4>
        <img class="w-100" src="../../../assets/images/timeline.PNG"> 
    </section>
</div>