<div class="panel">
    <div class="cb">
        <h2 class="fonte"><b>VISÃO PROJETO</b></h2><hr>
        <div class="botao-com-espaco" >
            <div>
                <a href="/login" class="btn btn-danger mb-4">Sair</a>
            </div>
        </div>
    </div><hr>
    
    <div class="project-view">
        <h5><b>PROJETO:</b> {{Project.titulo}}</h5>
    </div>

    <div class="form-group mt-2">
        <label>Selecione um Projeto:</label>
        <select [(ngModel)]="Project.idprojeto" (change)="onProjectChanges($event)" type="number" class="form-control" name="idprojeto">
            <option value=0 disabled selected hidden>Selecione um projeto</option>
            <option *ngFor="let project of Projetos$ | async" value="{{project.IDPROJETO}}">
                {{project.TITULO}}
            </option>
        </select>
    </div>

    <form class="form">
        <div class="d-flex justify-content-between">
            <div class="form-group mt-3">
                <label>Id Projeto:</label>
                <input [(ngModel)]="Project.idprojeto" type="text" class="form-control" disabled name="idprojeto">
            </div>
            <div class="form-group mt-3">
                <label>Cliente:</label>
                <input [(ngModel)]="Project.idcliente" type="text" class="form-control" disabled name="cliente">
            </div>
            <div class="form-group mt-3">
                <label>Status:</label>
                <input [(ngModel)]="Project.statusprojeto" type="text" class="form-control" disabled name="statusprojeto">
            </div>
            <div class="form-group mt-3">
                <label>Responsável:</label>
                <input [(ngModel)]="Project.usuariocriacao" type="text" class="form-control" disabled name="usuariocriacao">
            </div>
        </div>
        <div class="d-flex justify-content-between">

        </div>

        <div class="form-group mt-3">
            <label>Descrição:</label>
            <textarea [(ngModel)]="Project.descricao" type="textarea" class="form-control" disabled name="descricao"
            value="{{Project.descricao}}"></textarea>
        </div>
        <div class="form-group d-flex flex-row">
            <div class="form-group mb-3 mt-3 espacoCampo">
                <label>Início Projeto:</label>
                <input [(ngModel)]="Project.dtinicioprojeto" type="date" class="form-control" id="dtinicioprojeto" disabled name="dtinicioprojeto">
            </div>
            <div class="form-group mb-3 mt-3">
                <label>Fim Previsto Projeto:</label>
                <input [(ngModel)]="Project.dtconclusaoprojeto" type="date" class="form-control" id="dtconclusaoprojeto" disabled name="dtconclusaoprojeto">
            </div>
        </div>
        <div class="pt-3">
            <h5><b>HORAS:</b></h5>
            <div class="form-group d-flex flex-row">
                <div class="form-group mb-3 mt-3 espacoCampo">
                    <label>Horas Estimadas:</label>
                    <input [(ngModel)]="Project.horasestimadas" type="text" class="form-control" disabled name="horasestimadas">
                </div>
                <div class="form-group mb-3 mt-3">
                    <label>Horas Gastas:</label>
                    <input [(ngModel)]="Project.horasgastas" type="text" class="form-control" disabled name="horasgastas">
                </div>
            </div>
        </div>
        </form>
</div>

