<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultoria Protheus</title>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Gruppo&family=Comfortaa:wght@700&display=swap" rel="stylesheet">
</head>
    <body class="fundoCorpo">

        <!-- Vídeo para telas grandes -->
        <video class="full-video desktop-video" autoplay muted loop playsinline>
            <source src="../../../assets/images/bpo/videoBPO.mp4" type="video/mp4">
            Seu navegador não suporta vídeos.
        </video>

        <!-- Vídeo para dispositivos móveis -->
        <video class="full-video mobile-video" autoplay muted loop playsinline>
            <source src="../../../assets/images/bpo/bpoCel.mp4" type="video/mp4">
            Seu navegador não suporta vídeos.
        </video>

    
        <!-- primeira faixa após vídeo -->
        <section class="banner">
            <button class="contact-button">TOTVS</button>
                <div class="left">
                    <h1 style="font-size: 50px;">Consultoria</h1>
                    <h1 style="font-size: 70px;">BPO</h1>
                </div>
                <div class="right">
                    <p>
                        Transforme sua operação com o BPO da Aldi Web.<br>
                        Otimizar processos e reduzir custos com nossa gestão especializada, oferecendo eficiência e suporte completo para alavancar o crescimento de sua empresa.
                    </p>
                    <a routerLink="/aldiwebsite" fragment="faleConosco">
                        <button class="buttonFC">Fale Conosco</button>
                    </a>
                </div>
        </section>

        <div class="body">
            <div class="container">
                <header>
                    <h1>
                        <span>Transforme</span> sua<br>
                        operação com a<br>
                        eficiência do BPO<br>
                        da Aldi Web
                    </h1>
                    <p class="header-text">Maximize o desempenho do seu sistema com o BPO da Aldi Web.<br>
                        Realizamos diagnósticos detalhados, identificamos melhorias e implementamos soluções eficientes para otimizar sua operação.</p>
                </header>
                <main>
                    <section class="grid">
                        <div class="antes">
                            <img src="../../../assets/images/bpo/4.png" alt="Melhor Gestão de Processos" class="imagem">
                            <div class="texto">
                                <h2>Melhor Gestão de Processos</h2>
                                <p>Otimize seus processos com uma abordagem personalizada, garantindo fluxos mais ágeis e eficientes para a sua operação empresarial.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/bpo/5.png" alt="Alocação de Especialistas" class="imagem">
                            <div class="texto">
                                <h2>Alocação de Especialistas</h2>
                                <p>Com nosso BPO, sua empresa tem especialistas para gerenciar áreas críticas como finanças, RH e tecnologia, sem sobrecarregar sua equipe interna.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/bpo/6.png" alt="Portal de Colaboradores" class="imagem">
                            <div class="texto">
                                <h2>Portal de Colaboradores</h2>
                                <p>Oferece aos seus colaboradores uma plataforma de fácil acesso para informações, tarefas e documentos, garantindo comunicação eficiente.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/bpo/7.png" alt="Aumento da Produtividade" class="imagem">
                            <div class="texto">
                                <h2>Aumento da Produtividade</h2>
                                <p>Monitore o desempenho de cada área com relatórios e dashboards detalhados, possibilitando o controle e a melhoria constante da produtividade de sua equipe.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/bpo/8.png" alt="Mais Eficiência Operacional" class="imagem">
                            <div class="texto">
                                <h2>Mais Eficiência Operacional</h2>
                                <p>Automatiza processos empresariais, otimizando a operação e custos. Aumente a produtividade sem perder a qualidade.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/bpo/9.png" alt="Melhore os Fluxos de Trabalho" class="imagem">
                            <div class="texto">
                                <h2>Melhore os Fluxos de Trabalho</h2>
                                <p>Personalize fluxos de trabalho que atendam às necessidades específicas de sua empresa, melhorando a organização e a execução de tarefas de forma ágil e eficiente.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/bpo/10.png" alt="Economia de Tempo" class="imagem">
                            <div class="texto">
                                <h2>Economia de Tempo</h2>
                                <p>Integrando todos os sistemas de sua empresa de forma eficaz, nosso BPO economiza tempo e recursos, permitindo que sua equipe se concentre no que realmente importa.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/bpo/11.png" alt="Gestão de Documentos Centralizada" class="imagem">
                            <div class="texto">
                                <h2>Gestão de Documentos Centralizada</h2>
                                <p>Gerencie documentos de forma segura, facilitando o acesso e a colaboração entre sua equipe, garantindo eficiência.</p>
                            </div>
                        </div>
                        <div class="antes">
                            <img src="../../../assets/images/bpo/12.png" alt="Controle Total e Transparente" class="imagem">
                            <div class="texto">
                                <h2>Controle Total e Transparente</h2>
                                <p>Com o BPO da Aldi Web, você tem controle total sobre as operações terceirizadas, com acesso fácil a informações cruciais para a tomada de decisões.</p>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>

        <section class="bloco-cards">
            <div class="cards-container">
                <div class="cardC">
                    <img src="../../../assets/images/hex/hex-rm.png" alt="RM">
                    <p> Otimizamos processos, automatizamos rotinas e garantimos um controle eficiente de recursos, financeiros e estoques, para que sua empresa alcance o máximo desempenho.</p>
                    <button class="buttonConsultorias" (click)="rm()">Saiba mais</button>
                </div>
    
                <div class="cardC">
                    <img src="../../../assets/images/hex/hex-protheus.png" alt="PROTHEUS">
                    <p> Implementamos, personalizamos e otimizamos seu ERP para integrar processos, automatizar tarefas e elevar o desempenho de sua gestão empresarial.</p>
                    <button class="buttonConsultorias" (click)="protheus()">Saiba mais</button>
                </div>
    
                <div class="cardC">
                    <img src="../../../assets/images/hex/hex-fluig.png" alt="FLUIG">
                    <p>Transforme sua gestão com Fluig! Automatizamos fluxos, centralizamos informações e otimizamos a colaboração para tornar sua empresa mais ágil, integrada e produtiva.</p>
                    <button class="buttonConsultorias" (click)="fluig()">Saiba mais</button>
                </div>
            </div>
        </section>
    </body>
</html>