// .container-fluid{
//     background-color: #fe8902 !important;
// }
// .logo{
//     color: white;
//     font-size:xx-large;
// }
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}
section, footer{
    padding: 50px 0;
}
h3{
    font-size: 35px;
    margin-top:0px;
}
p{
    color: #000000;
    font-size: 15px;
    font-family: "Inter", sans-serif;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}
header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
body{
    background-color: #eeeeee;
}
a{
    color: #000000;
    text-decoration: none;
    transition: 0.3s;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    height: 15vh;
    // position: fixed;
    // background-color: #2e2306;
    // border-radius: 10px;
}

.nav-list, .login {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0 25px;
    text-transform: uppercase;
}

.nav-list a {
    letter-spacing: 3px;
    margin-left: 32px;
    font-size: 14px;
    display: block;
    color: white;
}
.nav-list a:hover{
    opacity: 0.7;
    color: #ff952b;
}
.banner{
    display: flex;
    justify-content: center;
}
.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 13%;
    color:white
}
.quem-somos .container{
    display: flex;
    align-items: center;
}
.quem-somos .quem-somos-texto{
    width: 50%;
    padding: 0 20px;
    font-family: "Inter", sans-serif;
}
.quem-somos .quem-somos-texto h3{
    font-size: 56px;
}
.quem-somos .quem-somos-texto p{
    margin: 5px 0 10px 0;
    line-height: 1.5;
    word-spacing: -2px;
    text-align: left;
}
.quem-somos .quem-somos-img{
    width: 50%;
    margin: 40px;
}
.quem-somos .quem-somos-img img{
    width: 100%;
}
.mm{
    margin-left: 50px;
}
.solucoes h3{
    text-align: center;
    // border-top: 3px solid rgb(0, 0, 0);
}
.border{
    border-top: 3px solid black;
    margin-bottom: 20px;
}
.solucoes p{
    margin-bottom: 20px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
}
.solucoes .card-item{
    background-color: #fff6ec;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 290px;
    transition: 0.3s;
}
.solucoes .card-item img{
    width: 110px; 
    height: 100px;
    margin: 10px auto;
    display: block;
    margin: 20px auto;
}
.solucoes .card-item .titulo{
    font-weight: 600;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
}
.solucoes .card-item .texto{
    font-size: 15px;
    padding: 0 15px;
}
.solucoes .card-item:hover{
    background-color: rgb(202, 202, 202);
    margin-top: -5px;
}
.ul-custom {
    list-style-type: disc;
    font-size: 15px;
    line-height: 1.5;
    padding-left: 2em;
}
.ul-custom li {
    margin-bottom: 0.5em;
}
.clientes h3{
    text-align: center;
}
.clientes .container div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.clientes .container img{
    justify-content: space-around;
}
.footer{
    background-color: #000000;
    text-align: center;
}
.footer i{
    color: #ff952b;
    font-size: 15px;
    //size-adjust: 20px;
    background-color: #3f3f3f;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
}
.footer a{
    margin-top: 20px;
    color: white;
}
.footer a:hover{
    color:#ff952b
}
.vamosC{
    width: 100%;
    height: 40%;
}
.bannerr{
    display: flex;
    justify-content: center;
}
.bannerr .bannerr-text{
    margin: 0px;
    text-align: center;
    //padding: 0%;
    color:white
}
.bannerr .bannerr-text p,
.bannerr .bannerr-text h1{
    color:white;
    font-size: 22px;
}
.rounded-image {
    border-radius: 2%;
    margin: 20px;
}
.fale-conosco-img img{
    margin-right: 20px;
}

/* ESTILIZAÇÃO INPUT */
form{
    width: 100%;
    max-width: 350px;
    padding: 2%;
}

.single-input{
    position: relative;
    margin: 30px 0;
}
.single-input label{
    position: absolute;
    bottom: 5px;
    left: 0;
    color: rgb(150,150,150);
    font-size: 13px;
    cursor: text;
    transition: 0.3s ease-in-out;
}

.input{
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid rgb(200,200,200);
    outline: 0;
    font-size: 16px;
    color: rgb(80,80,80);
    transition: 0.3s ease-in-out;
}

.input:focus,
.input:valid{
    border-bottom: 2px solid #ff952b;
}
.input:focus ~ label,
.input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: #ff952b;
}
/* ESTILIZAÇÃO BOTÃO */
.button {
    padding: 8px 18px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    //text-decoration: none;
    border-radius: 5px;
    background-color: #ff952b;
    color: #fff;
    //transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #e68a00;
}

// .login {
//     list-style: none;
//     display: flex;
//     align-items: center;
//     margin: 0 25px;
//     text-transform: uppercase;
// }

// .login{
//     letter-spacing: 3px;
//     margin-left: 32px;
//     font-size: 15px;
//     display: block;
//     color: white;
// }
// .login:hover{
//     opacity: 0.7;
//     color: #ff952b;
// }
/* RESPOSIVO */
@media only screen and (max-width: 1200px){
    .quem-somos .container {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    gap: 20px;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    .rounded-image{
        margin:0px;
    }
    .cards{
    display: flex;
    flex-wrap: wrap;
    }
    .nav-list{
    display: none;
    }
    .login{
        display: flex;
    }
    p{
    text-align: left;
    }
    .bannerr-text p,
    .bannerr-text h1{
        text-align: center;
    }
    .login {
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0 25px;
        text-transform: uppercase;
    }
    
    .login {
        letter-spacing: 3px;
        margin-left: 32px;
        font-size: 17px;
        display: block;
        color: white;
    }
    .login:hover{
        opacity: 0.7;
        color: #ff952b;
    }
    .mm{
        margin-left: 0px;
    }
    .bannerr .bannerr-text{
        margin: 0px;
        text-align: center;
        //padding: 0%;
        color:white
    }
    @media only screen and (max-width: 500px){
        .vamosC {
            height: 500px;
            width: 400px;
            text-align: center;
            display: flex;
            flex-basis: 100%;
            flex-wrap: wrap;
            }
            .bannerr-text p,
            .bannerr-text h1{
            text-align: center;
    }
    }
}