<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="site.component.scss">
    <title>Navbar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body>

    <header class="fundoHome" style="background-image: url('../../../assets/images/testeCapa.png');">
      <div class="container">
        <nav>
          <a class="logo" href="site.component.html">
            <img src="../../../assets/images/LogoEscrita.png" alt="Logo">
          </a>
          <ul class="nav-list">
            <li><a href="#sobreNos">Sobre nós</a></li>
            <li><a href="#solucoes">Soluções</a></li>
            <li><a href="#atendimento">Principais Módulos</a></li>
            <li><a href="#vamosC">Contato</a></li>
            <li><a [routerLink]="['/user/aldiwebsite']">sitealdiweb</a></li>

            <li><a [routerLink]="['/login']" class="login">
              <i class="bi bi-box-arrow-in-right"></i>&nbsp;Login</a></li>
            </ul>
        </nav>
        <section class="banner">
          <div class="banner-text">
            <!-- <h1>ALDIWEB</h1>
            <p>Tecnologia para sua empresa</p> -->
          </div>
        </section>
      </div>
    </header>
    <section class="quem-somos" id="sobreNos">
      <div class="container">
        <div class=".quem-somos-texto">
          <h3><b>SOBRE NÓS</b></h3><br>
          
          <h5><b>MISSÃO</b></h5><br>
          <p>Humanizar as relações entre pessoas e tecnologia através de soluções inovadoras e simples, visando atingir o potencial do seu negócio. 
          </p> <br>
          <h5><b>VISÃO</b></h5><br>
          <p>Ser referência no Brasil em soluções tecnológicas, que apoiam o desenvolvimento das pessoas e o crescimento das empresas.
          </p><br>
          <h5><b>VALORES</b></h5><br>
          <ul style="margin-left: 25px;">
            <li>Transparência</li>
            <li>Cuidar de quem faz a nossa empresa (pessoas)</li>
            <li>Paixão por Inovação</li>
            <li>Foco nas necessidades do cliente</li>
            <li>Diversidade e inclusão</li>
            <li>Honestidade</li>
            <li>Segurança</li>
          </ul>
        </div>
        
        <div class=".quem-somos-img">
          <img src="../../../assets/images/quemSomos.png" >
        </div>
      </div>
    </section>
    
    <section class="quem-somos" id="diferencial">
      <div class="flex container">
        <div class=".quem-somos-texto">
          <h3><b>NOSSO DIFERENCIAL</b></h3><br>

          <p>Uma empresa multidisciplinar com profissionais capacitados e especialista em tecnologia e inovação, 
            com os nossos serviços sua empresa vai encontrar soluções ágeis, modernas e totalmente personalizada 
            para implantação de sistemas, adaptação de perfomance, diagnóstico de crise, BPO, serviços de suporte e 
            consultoria.
          </p><br>
            <p>Tudo isso interligado com a qualidade, prazo, profissionais comprometidos com os resultados, 
            segurança, exigências legais e seguindo nosso maior sonho de ajudar e apoiar empresas a crescerem e se 
            tornarem ainda mais competitivas no mercado.</p>
        </div>
        <div class=".quem-somos-img mm">
          <img src="../../../assets/images/cuboAldiWeb.png" width="400px" height="400px">
        </div>
      </div>
    </section>

    <section class="solucoes" id="solucoes">
      <div class="container">
        <div class="border"></div>
        <h3><b>NOSSAS SOLUÇÕES</b></h3>
        <p>O QUE FAZEMOS:</p>
        <div class="cards">
          <div class="card-item">
            <img src="../../../assets/images/IconeCC.png">
            <p clas="titulo"><b>Consultoria Completa</b></p>
            <p class="texto">Temos um time preparado para ajudar sua empresa com 
              consultoria em gestão de sistema em diversos ERP.
            </p>
          </div>

          <div class="card-item">
            <img src="../../../assets/images/IconTA.png">
            <p clas="titulo"><b>Treinamentos Avançados</b></p>
            <p class="texto">Capacitamos seu time para alcançar a independência e 
              segurança no manuseio das ferramentas internas.
            </p>
          </div>

          <div class="card-item">
            <img src="../../../assets/images/IconST.png">
            <p clas="titulo"><b>Atenção Continuada</b></p>
            <p class="texto">Atendimento: atuamos com todos os módulos da líder 
              absoluta em sistema e plataforma de gestão TOTVS.
              </p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="cards">
          <div class="card-item">
            <img src="../../../assets/images/IconD.png">
            <p clas="titulo"><b>Desenvolvimento</b></p>
            <p class="texto">Trazemos soluções personalizados para seu negócio, 
              através do nosso time de desenvolvimento de soluçoes.
            </p>
          </div>

          <div class="card-item">
            <img src="../../../assets/images/IconBPO.png">
            <p clas="titulo"><b>BPO</b></p>
            <p class="texto">Terceirização de mão de obra, atuando in loco, ou externo. Reduza os custos e foque em 
              resultados e nós cuidamos de forma desburocratizada dos seus processos. 
            </p>
          </div>
        </div>
      </div>
    </section>

    <div class="border"></div>

    <section class="quem-somos" id="atendimento">
      <div class="container">
        <div class=".quem-somos-texto">
          <h3><b>ATENDIMENTO PARA OS MÓDULOS</b></h3><br>
          <ul class="ul-custom">
            <li>Totvs RH</li>
            <li>Totvs Educacional</li>
            <li>Totvs Back Office</li>
            <li>Totvs Saúde</li>
            <li>Totvs TCop</li>
            <li>Fluig</li>
            <li>Desenvolvimento de novas soluções integradas</li>
          </ul>
        </div>
        
        <div class=".quem-somos-img">
          <img src="../../../assets/images/totvsLogo.webp" alt="" width="400" height="110">
        </div>
      </div>
    </section>

    
    <!-- <section class="clientes">
      <div class="border"></div>
      <div class="container">
        <h3><b>PRINCIPAIS CLIENTES</b></h3>
        <div>
          <img src="../../../assets/images/logoLocaliza.png" width="200" height="60">
          <img src="../../../assets/images/logoBigMais.png" width="160" height="80">
          <img src="../../../assets/images/logoHSD.png" width="180" height="100">
          <img src="../../../assets/images/logoAfya.png" width="200" height="80">
        </div>
      </div>
    </section> -->

    <div class="border"></div>

    <section class="vamosC" style="background-image: url('../../../assets/images/VamosC.jpg');" id="vamosC">
      <div class="container">
        <section class="bannerr">
          <div class="bannerr-text">
            <h1><b>VAMOS CONVERSAR?</b></h1>
            <p>A ALDI WEB oferece para seus clientes um contato diferenciado, flexível e ajustado para a realidade da sua empresa</p>
          </div>
        </section>
      </div>
    </section>

    <section class="quem-somos">
      <div class="container">
        <div class=".fale-conosco-img">
          <img src="../../../assets/images/faleConosco.png" alt="" width="400" height="400" class="rounded-image">
        </div>
        <div class=".quem-somos-texto">
          <h3><b>FALE CONOSCO</b></h3><br>
          <form>
            <div class="single-input">
                <input type="text" class="input" id="nome" required>
                <label for="nome">Nome</label>
            </div>
            <div class="single-input">
                <input type="text" class="input" id="email" required>
                <label for="email">E-mail</label>
            </div>
            <div class="single-input">
              <input type="text" class="input" id="assunto" required>
              <label for="assunto">Assunto</label>
            </div>
            <div class="single-input">
              <input type="text" class="input" id="mensagem" required>
              <label for="mensagem">Mensagem</label>
            </div>
            <div>
              <button class="button">Enviar</button>
          </div>
          </form>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <a href="https://www.instagram.com/aldiweb?igsh=eGdpZDltbWRjM2E0"><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi-envelope mt=3"></i></a>
        <a href="#"><i class="bi bi-whatsapp"></i>(31) 99392-7236</a>
      </div>
    </footer>
  </body>