.customer-client{
    display: flex;
    justify-content: center;  
    height: 100%;
}

form input{
    width: 100%;
}
form{
    width: 90% !important;
}

.testeradio{
    display: block;
}


.currentBody{
    display: none;
    width: 100%;
    justify-content: space-between;
    
}
.current{
    display: flex !important;
    flex-direction: column !important;    
}

.formCadastro{
    width: 100%;

}
.spaceForm{
    height: 100%;
    width: 100%;
    flex-grow: 1;
}
.nextSection{
    width: 100%;
}

.titleStage{
    margin-bottom: 30px;
}

.btn-stage{
    width: 150px;
}



