
form input{
    //display: inline-block;
    width: 100%;
}
form{
    width: 90%;
}

.formCadastro{
    width: 100%;
    padding: 15px;
}

.btn-stage{
    width: 100px;
    margin: 0%;
    margin-top: 15px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.espacoCampo{
    padding-inline: 20px;
}
.espaco{
    padding-block: 5px;
}

.botao-com-espaco {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;
}

.onoff input.toggle {
    display: none;
}

.fonte{
    font-family: 'Bebas Neue', sans-serif bold;
}
.cb{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
@media only screen and (max-width: 1030px){
    .media{
    margin-right: 10px;
    }
    .espacoCampo{
        padding-inline: 0px;
    }
    .botao-com-espaco{
        margin-bottom: 15px;
    }
    .radioD{
        margin: 10px;
    }
    .radioA{
        margin-right: 10px;
    }
    .cb{
        display: flex;
        align-items: center;
        margin-bottom: 2px;
    }
}
.espacamento {
    display: flex;
    flex-direction: row;
}
.espacamento  > div{
    margin-right: 10px;
}