<div class="panel">
    <div class="cb">
        <h2 class="fonte"><b>RECURSO</b></h2><hr>
        <div class="botao-com-espaco" >
            <div>
                <a href="/login" class="btn btn-danger mb-4 btn-stage">Sair</a>
            </div>
        </div>
    </div><hr>
    <div class="customer-pessoa bg-light">
        <div class="formCadastro d-flex justify-content-left ">
            <form #form="ngForm" (ngSubmit)="registerRecurso(form)" >
                    <div>
                        <div class="form-group d-flex flex-row">
                        <div class="form-group">
                            <label>Nome Pessoa</label>
                            <select [(ngModel)]="recurso.idpessoa" type="text" class="form-control" id="idpessoa" name="idpessoa"
                            required [ngClass]="{'campo-nao-preenchido': botaoClicado && !recurso.idpessoa}" placeholder="Nome" name="idpessoa">
                                <option value="" disabled selected hidden>Nome</option>
                                <option *ngFor="let pessoa of zpessoas$ | async"
                                    [ngValue]="pessoa.IDPESSOA">
                                    {{ pessoa.NOME }}
                                </option>                  
                            </select>
                        </div>
                        <div class="form-group icon-container align-items-center ">
                            <i (click)="openPessoa()" class="bi bi-plus-circle-fill"></i>
                        </div>
                        </div>
    
                    <div class="form-group d-flex flex-row">
                        <div class="form-group espaco">
                            <label>Tipo de recurso:</label>
                                <select [(ngModel)]="recurso.tiporecurso" type="text" class="form-control" id="tiporecurso" name="tiporecurso"
                                required [ngClass]="{'campo-nao-preenchido': botaoClicado && !recurso.tiporecurso}" name="tiporecurso">
                                <option value="" disabled selected hidden>Tipo de recurso</option>
                                <option *ngFor="let tipoRecurso of tipoRecurso$ | async"
                                [ngValue]="tipoRecurso.IDTIPO">
                                {{tipoRecurso.DESCRICAO}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group icon-container align-items-center"  style="margin-top: 8px;">
                            <i (click)=" openTipoRecurso()" class="bi bi-plus-circle-fill" style="padding-left: 20px"></i>
                            <a [routerLink]="['/user/tipoRecursos']" class="bi bi-pencil-square" style="padding-left: 10px"></a>
                        </div>
                    </div>
                        <div class="form-group d-flex flex-row">
                            <div class="form-group espaco">
                                <label>Data Inícioo:</label>
                                <input [(ngModel)]="recurso.datainicio" type="date" class="form-control" name="datainicio" id="datainicio" style="width: auto"
                                required [ngClass]="{'campo-nao-preenchido': botaoClicado && !recurso.datainicio}">
                            </div>
                            <div class="form-group espaco espacoCampo">
                                <label>Data Final:</label>
                                <input [(ngModel)]="recurso.datafim" type="date" class="form-control"  
                                name="datafim" id="datafim" style="width: auto">
                            </div>
    
                        </div>  
                        <div class="form-group espaco">
                            <label>Situação do usuárioo:</label>
                            <label style="display: inline-block;">Ativo</label>
                            <input type="radio" [(ngModel)]="recurso.ativo" id="ativo" name="ativo" value=1 style="display: inline-block; width: 5%;">
                            
                            <label style="display: inline-block;">Desativo</label>
                            <input type="radio" [(ngModel)]="recurso.ativo" id="desativo" name="desativo" value=2 style="display: inline-block; width: 5%;">
                        </div>
                        <div class="form-group espaco">
                            <label>Valor da hora:</label>
                            <input [(ngModel)]="recurso.valorhr" type="text" class="form-control" name="valorhr"
                            prefix ="R$" mask="separator.2" thousandSeparator="," ng-init="recurso.valorhr = null">
                        </div>
    
                    </div>
                    <div style='text-align:right'>
                        <div class="btn btn-primary btn-stage" (click)="registerRecurso(form)">{{event}}</div>
                    </div>
            </form>
        </div>
    </div>
    </div>