<div class="panel">
    <h2 class="fonte"><b>STATUS DO PROJETO</b></h2><hr>
    <div class="customer-pessoa bg-light">
        <div class="formCadastro d-flex justify-content-center ">
            <form #form="ngForm" (ngSubmit)="registerProjeto(form)">
                <div>
                    <div class="form-group espaco">
                        <label>Título do Projeto:</label>
                        <input [(ngModel)]="projetoStatus.titulo" type="text" class="form-control"
                            placeholder="Título do projeto" name="titulo"
                            [ngClass]="{'campo-nao-preenchido': botaoClicado && !projetoStatus.titulo}">
                    </div>

                    <div class="form-group espaco">
                        <label>Descrição do Projeto:</label>
                        <textarea [(ngModel)]="projetoStatus.descricao" type="text" class="form-control"
                            placeholder="Descrição do projeto" name="descricao" maxlength="200"
                            [ngClass]="{'campo-nao-preenchido': botaoClicado && !projetoStatus.descricao}"></textarea>
                    </div>

                    <div class="form-group">
                        <label>Status do Projeto:</label>
                        <select [(ngModel)]="projetoStatus.status" class="form-control" name="status" id="status"
                        [ngClass]="{'campo-nao-preenchido': botaoClicado && !projetoStatus.status}">  
                            <option value=0 selected disabled hidden>Selecione uma opção</option>
                            <option value=1>Ativo</option>
                            <option value=2>Concluído</option>
                            <option value=3>Cancelado</option>
                        </select>
                    </div>

                    <!--Campos de log aqui: -->
                    <!-- data criação, usuário criação --> 
                    <!-- data alteração, usuário alteração -->
                </div>
                <div style='text-align:right'>
                    <div class="btn btn-primary btn-stage" (click)="registerProjeto(form)">{{event}}</div>
                </div>
            </form>
            <div class="botao-com-espaco" >
                <div>
                    <a href="/login" class="btn btn-danger btn-stage">Sair</a>
                </div>
            </div>
        </div>
    </div>
</div>